Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'

First Draft of Santa's Route
  src/static/data/santa_route_draft_1.json
Labels: none

Update requirements.txt to remove unused packages
  requirements.txt
Labels: python, dependencies

fix: install dev requirements for testing script
  .github/workflows/testing.yml
Labels: GitHub-Action

fix: use correct dev dependency filename
  .github/workflows/testing.yml
Labels: GitHub-Action

Update Dependencies and Fix Testing to install dev dependencies (#149)
  .github/workflows/testing.yml
  requirements-dev.txt
  requirements.txt
Labels: GitHub-Action, python, dependencies

Fix: Fix MD formatting and a country correction
  docs/cinematic_logic_spec.md
  docs/editor_algorithm_logic.md
  docs/route_data_schema.json
Labels: documentation

Remove unused file
  tools/route-editor/src/components/RouteSimulator.jsx
Labels: none

address review comments
  tools/route-editor/src/App.jsx
  tools/route-editor/src/pages/SimulatorPage.jsx
  tools/route-editor/src/types.ts
  tools/route-editor/src/utils/cinematicLogic.js
  tools/route-editor/src/utils/routeCalculations.js
Labels: javascript

Fix CSS and JS linting errors (#150)
  .eslintrc.json
  package-lock.json
  package.json
  tools/route-editor/src/components/MapEditor.jsx
  tools/route-editor/src/index.css
  tools/route-editor/src/main.jsx
  tools/route-editor/src/pages/SimulatorPage.jsx
Labels: css, dependencies

Address open review comments from PR #146 (#151)
  tools/route-editor/package-lock.json
  tools/route-editor/src/pages/SimulatorPage.jsx
  tools/route-editor/src/utils/routeCalculations.js
Labels: javascript

address review comments
  tools/route-editor/src/App.jsx
  tools/route-editor/src/pages/SimulatorPage.jsx
  tools/route-editor/src/utils/routeCalculations.js
Labels: javascript

address review comments
  tools/route-editor/src/App.jsx
  tools/route-editor/src/pages/SimulatorPage.jsx
  tools/route-editor/src/utils/routeCalculations.js
Labels: javascript

address lint failure
  tools/route-editor/src/utils/routeCalculations.js
Labels: javascript

address lint failure
  tools/route-editor/src/utils/routeCalculations.js
Labels: javascript

address review comments
  tools/route-editor/src/App.jsx
  tools/route-editor/src/components/MapEditor.jsx
  tools/route-editor/src/pages/SimulatorPage.jsx
  tools/route-editor/src/utils/cinematicLogic.js
  tools/route-editor/src/utils/exportUtils.js
  tools/route-editor/src/utils/routeCalculations.js
Labels: javascript

fix lint checks
  .eslintrc.json
  package-lock.json
  tools/route-editor/src/utils/exportUtils.js
  tools/route-editor/src/utils/routeCalculations.js
Labels: javascript, dependencies

address review comments
  tools/route-editor/src/components/MapEditor.jsx
  tools/route-editor/src/utils/exportUtils.js
Labels: javascript

address review comments
  docs/editor_algorithm_logic.md
  docs/route_data_schema.json
  tools/route-editor/src/components/MapEditor.jsx
  tools/route-editor/src/components/Sidebar.jsx
  tools/route-editor/src/pages/SimulatorPage.jsx
  tools/route-editor/src/utils/cinematicLogic.js
  tools/route-editor/src/utils/exportUtils.js
Labels: javascript, documentation

I give up
  .deepsource.toml
  tools/route-editor/src/pages/SimulatorPage.jsx
Labels: none

Major Rework of the Route Editor and Cinematic Quality (#146)
  .deepsource.toml
  .eslintrc.json
  docs/cinematic_logic_spec.md
  docs/editor_algorithm_logic.md
  docs/route_data_schema.json
  package-lock.json
  package.json
  src/static/data/santa_route_draft_1.json
  src/templates/route_simulator_v2.html
  tools/route-editor/package-lock.json
  tools/route-editor/package.json
  tools/route-editor/src/App.jsx
  tools/route-editor/src/components/MapEditor.jsx
  tools/route-editor/src/components/Sidebar.jsx
  tools/route-editor/src/index.css
  tools/route-editor/src/main.jsx
  tools/route-editor/src/pages/SimulatorPage.jsx
  tools/route-editor/src/types.ts
  tools/route-editor/src/utils/cinematicLogic.js
  tools/route-editor/src/utils/exportUtils.js
  tools/route-editor/src/utils/routeCalculations.js
Labels: javascript, html, css, dependencies, documentation

doin stuff
  src/app.py
  src/static/data/santa_route.json
  src/static/data/santa_route_draft_1.json
  src/templates/home.html
Labels: python, html

Refactor to new schema
  src/app.py
  src/static/data/advent_calendar.json
  src/static/data/santa_route.json
  src/static/data/santa_route_draft_1.json
  src/utils/advent.py
  src/utils/locations.py
  tests/test_advent_admin_api.py
  tests/test_locations.py
Labels: Testing, python

fix cyclomatic complexity issues
  src/app.py
  src/utils/locations.py
Labels: python

Refactor advent calendar path resolution and improve error handling in location validation
  src/app.py
  src/utils/advent.py
  src/utils/locations.py
  tests/test_locations.py
Labels: Testing, python

Refactor location handling and improve error validation in route processing
  src/app.py
  src/utils/advent.py
  src/utils/locations.py
Labels: python

Refactor location loading and error handling for improved data validation
  src/app.py
  src/utils/locations.py
Labels: python

Refactor location loading and error handling for improved data validation
  src/app.py
  src/utils/locations.py
  tests/test_advent_admin_api.py
Labels: Testing, python

Enhance error handling and data validation in Advent Calendar and locations processing
  src/app.py
  src/utils/advent.py
  src/utils/locations.py
  tests/test_advent_admin_api.py
  tests/test_error_handling.py
  tests/test_route_generation.py
Labels: Testing, python

Refactor location handling and error logging in the Advent Calendar API
  src/app.py
  src/utils/advent.py
  src/utils/locations.py
  tests/test_advent_admin_api.py
  tests/test_error_handling.py
  tests/test_locations.py
Labels: Testing, python

Refactor error messages for improved clarity and consistency in location handling
  src/utils/advent.py
  src/utils/locations.py
  tests/test_locations.py
Labels: Testing, python

Refactor file handling in Advent Calendar functions to ensure UTF-8 encoding and simplify error handling in location updates
  src/utils/advent.py
  tests/test_locations.py
Labels: Testing, python

Add coverage configuration and test for loading empty advent files
  .coveragerc
  tests/test_advent.py
Labels: Testing, python

Add tests for handling non-numeric and null values in location endpoints
  tests/test_app_helpers.py
  tests/test_error_handling.py
Labels: Testing, python

Refactor imports in test_app_helpers.py for consistency and clarity
  tests/test_app_helpers.py
Labels: Testing, python

Refactor coverage configuration and add comprehensive tests for location handling and validation
  .coveragerc
  tests/test_create_location_missing_name.py
  tests/test_create_location_payload_type_error.py
  tests/test_get_nodes_from_obj.py
  tests/test_load_source.py
  tests/test_location_tz_warning.py
  tests/test_location_validate.py
  tests/test_locations.py
  tests/test_parse_and_normalize_nodes_attr_error.py
  tests/test_parsed_nodes_default_utc.py
  tests/test_parsed_nodes_location_construction_failure.py
  tests/test_parsed_nodes_stop_duration.py
  tests/test_range_and_tz.py
Labels: Testing, python

Refactor test files for consistency and clarity by organizing imports and formatting
  tests/test_create_location_missing_name.py
  tests/test_create_location_payload_type_error.py
  tests/test_get_nodes_from_obj.py
  tests/test_load_source.py
  tests/test_location_tz_warning.py
  tests/test_location_validate.py
  tests/test_locations.py
  tests/test_parse_and_normalize_nodes_attr_error.py
  tests/test_parsed_nodes_default_utc.py
  tests/test_parsed_nodes_location_construction_failure.py
  tests/test_range_and_tz.py
Labels: Testing, python

Refactor backend to support new route schema (#154)
  .coveragerc
  src/app.py
  src/static/data/advent_calendar.json
  src/static/data/santa_route.json
  src/static/data/santa_route_draft_1.json
  src/utils/advent.py
  src/utils/locations.py
  tests/test_advent.py
  tests/test_advent_admin_api.py
  tests/test_app_helpers.py
  tests/test_create_location_missing_name.py
  tests/test_create_location_payload_type_error.py
  tests/test_error_handling.py
  tests/test_get_nodes_from_obj.py
  tests/test_load_source.py
  tests/test_location_tz_warning.py
  tests/test_location_validate.py
  tests/test_locations.py
  tests/test_parse_and_normalize_nodes_attr_error.py
  tests/test_parsed_nodes_default_utc.py
  tests/test_parsed_nodes_location_construction_failure.py
  tests/test_parsed_nodes_stop_duration.py
  tests/test_range_and_tz.py
  tests/test_route_generation.py
Labels: Testing, python

Add local development server startup to app.py
  src/app.py
Labels: python

Fix formatting in Flask server startup log message
  src/app.py
Labels: python

fix variable
  src/templates/home.html
Labels: html
