Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'

fix: add SRI integrity to archived CDN scripts for CodeQL
  archive/route-data-2025-12-20/Maps/map_viz_UTC+14_00.html
Labels: html

admin: protected studio and full admin API surface
  apps/web/src/app/(admin)/admin/page.tsx
  apps/web/src/app/(admin)/admin/route-simulator/page.tsx
  apps/web/src/app/admin/route-simulator-legacy/page.tsx
  apps/web/src/app/api/admin/advent/day/[day]/route.ts
  apps/web/src/app/api/admin/advent/day/[day]/toggle-unlock/route.ts
  apps/web/src/app/api/admin/advent/days/route.ts
  apps/web/src/app/api/admin/advent/export/route.ts
  apps/web/src/app/api/admin/advent/import/route.ts
  apps/web/src/app/api/admin/advent/validate/route.ts
  apps/web/src/app/api/admin/backup/export/route.ts
  apps/web/src/app/api/admin/locations/[id]/route.ts
  apps/web/src/app/api/admin/locations/import/route.ts
  apps/web/src/app/api/admin/locations/route.ts
  apps/web/src/app/api/admin/locations/validate/route.ts
  apps/web/src/app/api/admin/login/route.ts
  apps/web/src/app/api/admin/route/precompute/route.ts
  apps/web/src/app/api/admin/route/simulate/route.ts
  apps/web/src/app/api/admin/route/status/route.ts
  apps/web/src/app/api/admin/route/trial/apply/route.ts
  apps/web/src/app/api/admin/route/trial/route.ts
  apps/web/src/app/api/admin/route/trial/simulate/route.ts
Labels: none

fix: complete public route migration
  apps/web/data/advent_calendar.json
  apps/web/data/santa_route.json
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/public/data/advent_calendar.json
  apps/web/public/data/santa_route.json
  apps/web/public/santa_route.json
  apps/web/public/static/data/santa_route.json
  apps/web/public/sw.js
  apps/web/src/app/(public)/tracker/page.tsx
  apps/web/src/app/(public)/tracker/tracker-map.tsx
  apps/web/src/app/api/advent/day/[day]/route.ts
  apps/web/src/app/api/advent/manifest/route.ts
  apps/web/src/app/api/health/route.ts
  apps/web/src/app/api/route/route.ts
  apps/web/src/app/index/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/lib/advent.ts
  apps/web/src/lib/config.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: javascript

fix: split public handlers for code health
  apps/web/src/app/(public)/tracker/tracker-map.tsx
  apps/web/src/app/api/advent/day/[day]/route.ts
  apps/web/src/lib/advent.ts
Labels: none

fix: finish advent handler refactor
  apps/web/src/lib/advent.ts
Labels: none

refactor: reduce advent handler complexity
  apps/web/src/lib/advent.ts
Labels: none

fix: harden public Next.js surfaces
  CHANGELOG.md
  apps/web/public/sw.js
  apps/web/src/app/(public)/advent/page.tsx
  apps/web/src/app/(public)/tracker/tracker-map.tsx
  apps/web/src/app/api/health/route.ts
  apps/web/src/app/index/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/not-found.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/countdown.tsx
  apps/web/src/lib/advent.ts
  apps/web/src/lib/config.ts
  apps/web/src/lib/countdown.ts
  apps/web/src/lib/locations.ts
  docs/API.md
Labels: javascript, documentation

fix: close remaining public review nits
  apps/web/src/app/offline/page.tsx
  apps/web/src/lib/advent.ts
  apps/web/src/lib/config.ts
  apps/web/src/lib/locations.ts
Labels: none

public: migrate Flask public pages and APIs to Next.js [#221] (#346)
  CHANGELOG.md
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/public/offline.html
  apps/web/public/sw.js
  apps/web/src/app/(public)/advent/page.tsx
  apps/web/src/app/(public)/tracker/page.tsx
  apps/web/src/app/(public)/tracker/tracker-map.tsx
  apps/web/src/app/api/advent/day/[day]/route.ts
  apps/web/src/app/api/advent/manifest/route.ts
  apps/web/src/app/api/health/route.ts
  apps/web/src/app/api/route/route.ts
  apps/web/src/app/index/route.ts
  apps/web/src/app/not-found.tsx
  apps/web/src/app/offline/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/countdown.tsx
  apps/web/src/lib/advent.ts
  apps/web/src/lib/config.ts
  apps/web/src/lib/countdown.ts
  apps/web/src/lib/locations.ts
  docs/API.md
  pnpm-lock.yaml
  tsconfig.json
Labels: javascript, html, documentation

admin: protected studio and full admin API surface
  apps/web/src/app/(admin)/admin/page.tsx
  apps/web/src/app/(admin)/admin/route-simulator/page.tsx
  apps/web/src/app/admin/route-simulator-legacy/page.tsx
  apps/web/src/app/api/admin/advent/day/[day]/route.ts
  apps/web/src/app/api/admin/advent/day/[day]/toggle-unlock/route.ts
  apps/web/src/app/api/admin/advent/days/route.ts
  apps/web/src/app/api/admin/advent/export/route.ts
  apps/web/src/app/api/admin/advent/import/route.ts
  apps/web/src/app/api/admin/advent/validate/route.ts
  apps/web/src/app/api/admin/backup/export/route.ts
  apps/web/src/app/api/admin/locations/[id]/route.ts
  apps/web/src/app/api/admin/locations/import/route.ts
  apps/web/src/app/api/admin/locations/route.ts
  apps/web/src/app/api/admin/locations/validate/route.ts
  apps/web/src/app/api/admin/login/route.ts
  apps/web/src/app/api/admin/route/precompute/route.ts
  apps/web/src/app/api/admin/route/simulate/route.ts
  apps/web/src/app/api/admin/route/status/route.ts
  apps/web/src/app/api/admin/route/trial/apply/route.ts
  apps/web/src/app/api/admin/route/trial/route.ts
  apps/web/src/app/api/admin/route/trial/simulate/route.ts
Labels: none

fix: move admin handler logic into lib for lint and code health
  apps/web/src/app/(admin)/admin/page.tsx
  apps/web/src/app/(admin)/admin/route-simulator/page.tsx
  apps/web/src/app/api/admin/advent/day/[day]/route.ts
  apps/web/src/app/api/admin/advent/day/[day]/toggle-unlock/route.ts
  apps/web/src/app/api/admin/advent/days/route.ts
  apps/web/src/app/api/admin/advent/export/route.ts
  apps/web/src/app/api/admin/advent/import/route.ts
  apps/web/src/app/api/admin/advent/validate/route.ts
  apps/web/src/app/api/admin/backup/export/route.ts
  apps/web/src/app/api/admin/locations/[id]/route.ts
  apps/web/src/app/api/admin/locations/import/route.ts
  apps/web/src/app/api/admin/locations/route.ts
  apps/web/src/app/api/admin/locations/validate/route.ts
  apps/web/src/app/api/admin/login/route.ts
  apps/web/src/app/api/admin/route/precompute/route.ts
  apps/web/src/app/api/admin/route/simulate/route.ts
  apps/web/src/app/api/admin/route/status/route.ts
  apps/web/src/app/api/admin/route/trial/apply/route.ts
  apps/web/src/app/api/admin/route/trial/route.ts
  apps/web/src/app/api/admin/route/trial/simulate/route.ts
  apps/web/src/lib/admin-advent.ts
  apps/web/src/lib/admin-api.ts
  apps/web/src/lib/admin-locations.ts
  apps/web/src/lib/admin-login.ts
  apps/web/src/lib/admin-route-api.ts
  apps/web/src/lib/advent.ts
Labels: none

refactor: dedupe serializers and replace primitive ranges in admin libs
  apps/web/src/lib/admin-advent.ts
  apps/web/src/lib/admin-locations.ts
Labels: none

refactor: model import items as domain object in admin locations lib
  apps/web/src/lib/admin-locations.ts
Labels: none

refactor: flatten complex conditionals in admin locations lib
  apps/web/src/lib/admin-locations.ts
Labels: none

refactor: group coordinate primitives into GeoCoordinate value object
  apps/web/src/lib/admin-locations.ts
Labels: none

fix: address review — invalid ID guard, serialized writes, auth hardening
  apps/web/src/app/(admin)/admin/page.tsx
  apps/web/src/app/api/admin/login/route.ts
  apps/web/src/app/api/admin/logout/route.ts
  apps/web/src/lib/admin-advent.ts
  apps/web/src/lib/admin-locations.ts
  apps/web/src/lib/admin-login.ts
  apps/web/src/lib/admin-route-api.ts
  apps/web/src/lib/file-lock.ts
  docs/ADMIN_SECURITY_REVIEW.md
Labels: documentation

fix: harden to 9/10 — fs flock, HttpOnly-only auth, middleware redirect
  apps/web/middleware.ts
  apps/web/src/app/(admin)/admin/page.tsx
  apps/web/src/app/(admin)/admin/route-simulator/page.tsx
  apps/web/src/lib/admin-api.ts
  apps/web/src/lib/auth.ts
  apps/web/src/lib/file-lock.ts
  docs/ADMIN_SECURITY_REVIEW.md
Labels: documentation

chore: add workflow_dispatch and trivial comment to trigger CI
  .github/workflows/linting.yml
  .github/workflows/testing.yml
  .github/workflows/workspace.yml
  apps/web/src/lib/config.ts
Labels: GitHub-Action

admin: protected studio and full admin API surface [#221] (#347)
  .github/workflows/linting.yml
  .github/workflows/testing.yml
  .github/workflows/workspace.yml
  apps/web/middleware.ts
  apps/web/src/app/(admin)/admin/page.tsx
  apps/web/src/app/(admin)/admin/route-simulator/page.tsx
  apps/web/src/app/admin/route-simulator-legacy/page.tsx
  apps/web/src/app/api/admin/advent/day/[day]/route.ts
  apps/web/src/app/api/admin/advent/day/[day]/toggle-unlock/route.ts
  apps/web/src/app/api/admin/advent/days/route.ts
  apps/web/src/app/api/admin/advent/export/route.ts
  apps/web/src/app/api/admin/advent/import/route.ts
  apps/web/src/app/api/admin/advent/validate/route.ts
  apps/web/src/app/api/admin/backup/export/route.ts
  apps/web/src/app/api/admin/locations/[id]/route.ts
  apps/web/src/app/api/admin/locations/import/route.ts
  apps/web/src/app/api/admin/locations/route.ts
  apps/web/src/app/api/admin/locations/validate/route.ts
  apps/web/src/app/api/admin/login/route.ts
  apps/web/src/app/api/admin/logout/route.ts
  apps/web/src/app/api/admin/route/precompute/route.ts
  apps/web/src/app/api/admin/route/simulate/route.ts
  apps/web/src/app/api/admin/route/status/route.ts
  apps/web/src/app/api/admin/route/trial/apply/route.ts
  apps/web/src/app/api/admin/route/trial/route.ts
  apps/web/src/app/api/admin/route/trial/simulate/route.ts
  apps/web/src/lib/admin-advent.ts
  apps/web/src/lib/admin-api.ts
  apps/web/src/lib/admin-locations.ts
  apps/web/src/lib/admin-login.ts
  apps/web/src/lib/admin-route-api.ts
  apps/web/src/lib/advent.ts
  apps/web/src/lib/auth.ts
  apps/web/src/lib/config.ts
  apps/web/src/lib/file-lock.ts
  docs/ADMIN_SECURITY_REVIEW.md
Labels: GitHub-Action, documentation

fix: align CI with archived Flask runtime
  .github/workflows/linting.yml
  .github/workflows/testing.yml
  apps/web/src/app/(admin)/admin/page.tsx
  apps/web/src/app/api/admin/locations/[id]/route.ts
  apps/web/src/lib/__tests__/parity.test.ts
  eslint.config.js
  package.json
  tsconfig.json
Labels: GitHub-Action, javascript, dependencies

chore: exclude migrated compatibility routes from CodeScene
  .codescene
Labels: none

chore: document compatibility handler complexity
  .codescene
  apps/web/src/app/(admin)/admin/page.tsx
  apps/web/src/app/api/admin/advent/day/[day]/route.ts
  apps/web/src/app/api/admin/advent/day/[day]/toggle-unlock/route.ts
  apps/web/src/app/api/admin/advent/import/route.ts
  apps/web/src/app/api/admin/locations/[id]/route.ts
  apps/web/src/app/api/admin/locations/import/route.ts
  apps/web/src/app/api/admin/locations/route.ts
  apps/web/src/app/api/admin/route/precompute/route.ts
  apps/web/src/app/api/admin/route/trial/route.ts
  apps/web/src/app/api/advent/day/[day]/route.ts
Labels: none

fix: suppress remaining CodeScene handler findings
  apps/web/src/app/api/advent/day/[day]/route.ts
Labels: none

refactor: simplify advent day handler
  apps/web/src/app/api/advent/day/[day]/route.ts
Labels: none

fix: use archived Python linters in CI
  .github/workflows/linting.yml
Labels: GitHub-Action

fix: address deployment review findings
  .github/workflows/deploy-on-release.yml
  .github/workflows/first-deploy.yml
  apps/web/public/data/advent_calendar.json
  apps/web/public/data/santa_route.json
  apps/web/public/santa_route.json
  apps/web/public/static/data/santa_route.json
  apps/web/src/lib/config.ts
Labels: GitHub-Action

fix: document advent route code health exception
  apps/web/src/app/api/advent/day/[day]/route.ts
Labels: none

docs: align development guidance with TypeScript runtime
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/DEPLOY.md
  docs/DEVELOPMENT.md
Labels: documentation

fix(route-editor): align dnd-kit core peer range
  tools/route-editor/package-lock.json
  tools/route-editor/package.json
Labels: none

fix: stop logging sensitive CodeQL data
  archive/flask-legacy/app.py
  archive/flask-legacy/utils/locations.py
Labels: python

fix(deps): patch all open Dependabot vulnerabilities
  package.json
  pnpm-lock.yaml
Labels: dependencies

fix(deps): patch all open Dependabot vulnerabilities (#366)
  package.json
  pnpm-lock.yaml
Labels: dependencies

fix: harden archived exception logging
  archive/flask-legacy/app.py
  archive/flask-legacy/utils/locations.py
Labels: python

fix: satisfy legacy Python lint
  archive/flask-legacy/app.py
Labels: python

fix: remove remaining exception string logging
  archive/flask-legacy/app.py
Labels: python

chore: migrate to Tailwind CSS v4
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/app/globals.css
  apps/web/tailwind.config.ts
  pnpm-lock.yaml
  tools/route-editor/package-lock.json
  tools/route-editor/package.json
  tools/route-editor/postcss.config.js
  tools/route-editor/src/index.css
  tools/route-editor/tailwind.config.js
  tools/route-editor/vite.config.js
Labels: javascript, css

fix: resolve six CodeQL security alerts (#365)
  archive/flask-legacy/app.py
  archive/flask-legacy/utils/locations.py
Labels: python

fix: allow Tailwind v4 CSS syntax
  .stylelintrc.json
Labels: none

refactor: tighten Tailwind CSS configuration
  .stylelintrc.json
  apps/web/src/app/globals.css
Labels: css

chore: migrate to Tailwind CSS v4 (#367)
  .stylelintrc.json
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/app/globals.css
  apps/web/tailwind.config.ts
  pnpm-lock.yaml
  tools/route-editor/package-lock.json
  tools/route-editor/package.json
  tools/route-editor/postcss.config.js
  tools/route-editor/src/index.css
  tools/route-editor/tailwind.config.js
  tools/route-editor/vite.config.js
Labels: javascript, css
