Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

fix: remediate Dependabot vulnerabilities
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

fix(verification): align SPC report routing with 12Z boundary
  CHANGELOG.md
  src/components/Verification/VerificationPanel.test.tsx
  src/components/Verification/VerificationPanel.tsx
  src/utils/verificationV2/archiveDate.test.ts
  src/utils/verificationV2/archiveDate.ts
  src/utils/verificationV2/index.ts
  src/utils/verificationV2/sources.test.ts
  src/utils/verificationV2/sources.ts
Labels: documentation

fix: hide report legend from forecast map
  src/components/Map/Legend.test.tsx
  src/components/Map/Legend.tsx
  src/components/Map/OpenLayersForecastMap.tsx
  src/components/Map/OpenLayersVerificationMap.tsx
Labels: none

fix: shape draw mode toggle segments
  src/components/IntegratedToolbar/IntegratedToolbar.css
  src/components/IntegratedToolbar/IntegratedToolbar.test.tsx
  src/components/IntegratedToolbar/IntegratedToolbar.tsx
Labels: css

fix: stabilize report legend filter selector
  src/components/Map/Legend.tsx
Labels: none

docs: document forecast clone performance fix
  CHANGELOG.md
Labels: documentation

perf: add forecast clone benchmark
  package.json
  src/performance/benchmarkUtils.ts
  src/performance/forecastClone.perf.test.ts
  src/store/forecastSlice.ts
Labels: dependencies

refactor: clarify forecast snapshot clone semantics
  src/store/forecastSlice.test.ts
  src/store/forecastSlice.ts
Labels: none

perf: reduce forecast feature clone allocations
  src/store/forecastSlice.test.ts
  src/store/forecastSlice.ts
Labels: none

refactor: isolate forecast clone benchmark helper
  src/performance/benchmarkUtils.ts
  src/performance/forecastClone.perf.test.ts
  src/store/cloneJsonValue.ts
  src/store/forecastSlice.ts
Labels: none

fix: validate changelog against live stacked base
  scripts/check-changelog-pr.mjs
Labels: none

docs: decide built-in specialty style policy (#497)
  docs/README.md
  docs/product/specialty-style-policy.md
Labels: documentation

docs: define specialty preset acceptance gate
  docs/product/specialty-style-policy.md
Labels: documentation

chore: keep changelog checker out of policy PR
  scripts/check-changelog-pr.mjs
Labels: none

docs: explain stacked changelog base selection
  scripts/check-changelog-pr.mjs
Labels: none

docs: update built-in product policy
  docs/product/specialty-style-policy.md
Labels: documentation

fix(storage): complete cloud-cycle bounded storage contract (#709)
  docs/architecture/cloud-cycle-storage.md
  server/cloud-cycles.js
  server/cloud-cycles.test.js
  server/metrics.js
  src/lib/cloudCyclesService.ts
Labels: javascript, documentation

test(server): include cloud cycle tests in CI
  server/package.json
Labels: none

fix(store): preserve custom chronology under deterministic timestamps (#715)
  src/store/customLayerReducerUtils.ts
Labels: none

refactor(store): isolate startup persistence from reducers (#715)
  docs/architecture/deterministic-redux-transitions.md
  src/index.tsx
  src/store/forecastDeterminism.test.ts
  src/store/forecastSlice.ts
  src/store/index.ts
  src/store/persistence.test.ts
  src/store/persistence.ts
  src/store/timestampMiddleware.ts
Labels: documentation

fix(store): scope direct reducer chronology fallback
  docs/architecture/deterministic-redux-transitions.md
  src/store/customLayerReducerUtils.ts
  src/store/forecastSlice.custom.test.ts
  src/store/timestampMiddleware.ts
Labels: documentation

docs: explain stacked changelog base selection
  scripts/check-changelog-pr.mjs
Labels: none

test: narrow OpenLayers multi-part fixture types
  src/components/Map/openLayersFeatureSync.test.ts
Labels: none

refactor: harden OpenLayers feature identity contract
  src/components/Map/openLayersFeatureSync.test.ts
  src/components/Map/openLayersFeatureSync.ts
Labels: none

perf: reconcile OpenLayers forecast features incrementally
  src/components/Map/OpenLayersForecastMap.tsx
  src/components/Map/openLayersFeatureSync.test.ts
  src/components/Map/openLayersFeatureSync.ts
Labels: none

fix: preserve legacy feature identities during map sync
  src/components/Map/OpenLayersForecastMap.tsx
  src/components/Map/openLayersFeatureSync.test.ts
  src/components/Map/openLayersFeatureSync.ts
Labels: none

refactor: pass map source plan as options
  src/components/Map/OpenLayersForecastMap.tsx
  src/components/Map/openLayersFeatureSync.test.ts
  src/components/Map/openLayersFeatureSync.ts
Labels: none

docs: document incremental map synchronization
  CHANGELOG.md
Labels: documentation

chore: keep changelog checker out of policy PR
  scripts/check-changelog-pr.mjs
Labels: none

refactor: simplify incremental map reconciliation
  src/components/Map/openLayersFeatureSync.ts
Labels: none

refactor: simplify feature sync validation
  src/components/Map/openLayersFeatureSync.ts
Labels: none

perf: add OpenLayers sync benchmark
  src/performance/openLayersSync.perf.test.ts
Labels: none

docs: update built-in product policy
  docs/product/specialty-style-policy.md
Labels: documentation

fix: validate changelog against live stacked base
  scripts/check-changelog-pr.mjs
Labels: none

docs: define specialty preset acceptance gate
  docs/product/specialty-style-policy.md
Labels: documentation

test: cover map source reconciliation contracts
  e2e/custom-layers.spec.ts
  src/components/Map/OpenLayersForecastMap.tsx
  src/components/Map/openLayersFeatureSync.test.ts
  src/components/Map/openLayersFeatureSync.ts
Labels: none

Add NOAA DAT verification evidence
  CHANGELOG.md
  docs/data/noaa-dat.md
  src/components/ForecastGrade/DatEvidencePanel.tsx
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
  src/components/ForecastGrade/ForecastGradeMapControls.tsx
  src/components/ForecastGrade/ForecastGradeMapPane.tsx
  src/components/ForecastGrade/ForecastGradeResultsPane.tsx
  src/components/ForecastGrade/ForecastGradeWorkspace.tsx
  src/components/ForecastGrade/GradeHeadline.tsx
  src/components/ForecastGrade/shareCard.test.ts
  src/components/ForecastGrade/sourcePanelParts.tsx
  src/components/ForecastGrade/useForecastGrade.test.tsx
  src/components/ForecastGrade/useForecastGrade.ts
  src/components/ForecastGrade/useShareCardActions.test.ts
  src/components/Map/OpenLayersVerificationMap.tsx
  src/types/stormReports.ts
  src/utils/dat/client.test.ts
  src/utils/dat/client.ts
  src/utils/dat/index.ts
  src/utils/dat/types.ts
  src/utils/dat/verification.test.ts
  src/utils/dat/verification.ts
  src/utils/verificationV2/composite.ts
  src/utils/verificationV2/datIntegration.test.ts
  src/utils/verificationV2/formulaVersion.ts
  src/utils/verificationV2/gradeContract.ts
  src/utils/verificationV2/gradeForecast.test.ts
  src/utils/verificationV2/gradeForecast.ts
  src/utils/verificationV2/gradeHistory.test.ts
  src/utils/verificationV2/sources.ts
  src/utils/verificationV2/yieldSeverity.ts
Labels: documentation

refactor: simplify built-in handoff validation
  src/lib/customProductHandoff.ts
Labels: none

fix: align rainfall preset with WPC ERO
  CHANGELOG.md
  docs/product/specialty-style-policy.md
  src/lib/customStylePresets.test.ts
  src/lib/customStylePresets.ts
Labels: documentation

feat: make specialty products free built-ins
  CHANGELOG.md
  src/components/IntegratedToolbar/CustomDrawPanel.tsx
  src/components/IntegratedToolbar/CustomProductsDialog.tsx
  src/hooks/useCustomProducts.test.tsx
  src/hooks/useCustomProducts.ts
  src/lib/builtInCustomProducts.ts
  src/lib/customProductHandoff.ts
  src/lib/customProductSnapshots.ts
  src/lib/customProducts.ts
  src/pages/gated/CustomProductCard.tsx
  src/pages/gated/CustomProductEditor.tsx
  src/pages/gated/CustomProductsPage.css
  src/pages/gated/CustomProductsPage.test.tsx
  src/pages/gated/CustomProductsWorkspace.tsx
  src/types/customProducts.ts
Labels: css, documentation

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'
