Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

chore: add beta changelog entry for PR #770
  CHANGELOG.beta.md
Labels: documentation

ver2(04a): event yield and severity scorers
  src/utils/verificationV2/yieldSeverity.test.ts
  src/utils/verificationV2/yieldSeverity.ts
Labels: none

fix(ver2): scope severity to hazard and split helpers
  src/utils/verificationV2/yieldSeverity.ts
Labels: none

chore: add beta changelog entry for PR #771
  CHANGELOG.beta.md
Labels: documentation

fix(ver2): address CodeRabbit review on neighborhood PR
  CHANGELOG.beta.md
  src/utils/verificationV2/neighborhood.test.ts
  src/utils/verificationV2/neighborhood.ts
Labels: documentation

fix(ver2): address CodeRabbit review on prob-spatial PR
  CHANGELOG.beta.md
  src/utils/verificationV2/farDiscipline.test.ts
  src/utils/verificationV2/gridEvaluation.test.ts
  src/utils/verificationV2/probabilitySkill.test.ts
  src/utils/verificationV2/spatialContingency.test.ts
  src/utils/verificationV2/spatialContingency.ts
Labels: documentation

fix(ver2): drop dead categorical early return in scoreSeverity
  src/utils/verificationV2/yieldSeverity.ts
Labels: none

test(ver2): cover yield and severity scoring outcomes
  CHANGELOG.beta.md
  src/utils/verificationV2/yieldSeverity.test.ts
  src/utils/verificationV2/yieldSeverity.ts
Labels: documentation

test(ver2): deduplicate yieldSeverity test setup
  src/utils/verificationV2/yieldSeverity.test.ts
Labels: none

chore: align Node support with EOL schedule, defer Babel 8
  .github/workflows/ci.yml
  CHANGELOG.beta.md
  package.json
  pnpm-lock.yaml
Labels: GitHub-Action, dependencies, documentation

ver2(04b): composite rollup, orchestrator, and engine barrel
  src/utils/verificationV2/composite.ts
  src/utils/verificationV2/gradeForecast.test.ts
  src/utils/verificationV2/gradeForecast.ts
  src/utils/verificationV2/index.ts
  src/utils/verificationV2/testFixtures.ts
Labels: none

fix(ver2): reuse staged product grades during package rollup
  src/utils/verificationV2/composite.ts
  src/utils/verificationV2/gradeForecast.ts
Labels: none

fix(ver2): type package formulaVersion as gfc-ver-1 literal
  src/utils/verificationV2/composite.ts
Labels: none

feat(ver2): align composite engine with hazard-only grading
  src/utils/verificationV2/composite.ts
  src/utils/verificationV2/gradeForecast.test.ts
  src/utils/verificationV2/gradeForecast.ts
Labels: none

chore: add beta changelog entry for PR #772
  CHANGELOG.beta.md
Labels: documentation

fix(ver2): address CodeRabbit review on composite, package grade, and staged runner
  src/utils/verificationV2/composite.ts
  src/utils/verificationV2/gradeForecast.test.ts
  src/utils/verificationV2/gradeForecast.ts
Labels: none

fix(ver2): align 04b composite with 04a product-filter and wrap test contour in array
  src/utils/verificationV2/composite.ts
  src/utils/verificationV2/gradeForecast.test.ts
Labels: none

ver2(05): sources + capability-aware grade history
  src/types/forecastGrade.ts
  src/utils/verificationV2/gradeHistory.test.ts
  src/utils/verificationV2/gradeHistory.ts
  src/utils/verificationV2/sources.ts
Labels: none

refactor(ver2): move archive date parsing into archiveDate module
  src/utils/verificationV2/archiveDate.ts
  src/utils/verificationV2/sources.ts
Labels: none

ver2(05): convert ISO date input to SPC archive YYMMDD before fetch
  src/utils/verificationV2/gradeHistory.test.ts
  src/utils/verificationV2/sources.ts
Labels: none

refactor(ver2): flatten archive date parsing for code health
  src/utils/verificationV2/archiveDate.ts
Labels: none

fix(ver2): scope history to user ids and validate report dates
  src/utils/verificationV2/gradeHistory.test.ts
  src/utils/verificationV2/gradeHistory.ts
  src/utils/verificationV2/sources.ts
Labels: none

refactor(ver2): unify archive date parsing for code health
  src/utils/verificationV2/sources.ts
Labels: none

refactor(ver2): split archive date parsing helpers for code health
  src/utils/verificationV2/sources.ts
Labels: none

chore: add beta changelog entry for PR #773
  CHANGELOG.beta.md
Labels: documentation

fix(ver2): address CodeRabbit review on sources, history, and cloud loader
  CHANGELOG.beta.md
  src/utils/verificationV2/gradeHistory.test.ts
  src/utils/verificationV2/gradeHistory.ts
  src/utils/verificationV2/sources.test.ts
  src/utils/verificationV2/sources.ts
Labels: documentation

refactor(ver2): tighten code health on sources and history
  src/utils/verificationV2/gradeHistory.test.ts
  src/utils/verificationV2/gradeHistory.ts
  src/utils/verificationV2/sources.ts
Labels: none

ver2(06a): gate wiring, local dogfood flag, and dashboard stub
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
  src/config/featureExposure.acknowledgements.json
  src/config/featureExposure.test.ts
  src/config/featureExposure.ts
  src/config/featureSurfaces.ts
  src/pages/VerificationPage.tsx
  src/pages/verificationRelaunch.exposure.test.tsx
Labels: none

fix(ver2): align v1.7 exposure contract for local dogfood
  src/config/v17WorkstreamAdoption.exposure.test.ts
Labels: none

fix(ver2): gate-aware VerificationPage tests for relaunch flag
  src/pages/VerificationPage.test.tsx
Labels: none

chore: add beta changelog entry for PR #774
  CHANGELOG.beta.md
Labels: documentation

fix(ver2): keep verificationRelaunch gate off until the dashboard shell lands
  CHANGELOG.beta.md
  src/config/featureExposure.acknowledgements.json
  src/config/featureExposure.test.ts
  src/config/featureExposure.ts
  src/config/v17WorkstreamAdoption.exposure.test.ts
  src/pages/verificationRelaunch.exposure.test.tsx
Labels: documentation

ver2(06b): dashboard supporting components and run hook
  src/components/ForecastGrade/DataQualityPanel.tsx
  src/components/ForecastGrade/GradeHeadline.tsx
  src/components/ForecastGrade/RunProgress.tsx
  src/components/ForecastGrade/SourcePanel.tsx
  src/components/ForecastGrade/gradeFormat.ts
  src/components/ForecastGrade/methodology.ts
  src/components/ForecastGrade/useForecastGrade.ts
Labels: none

refactor(ver2): split SourcePanel for code health
  src/components/ForecastGrade/SourcePanel.tsx
  src/components/ForecastGrade/sourcePanelParts.tsx
Labels: none

fix(ver2): gate run until report date and snapshot map view
  src/components/ForecastGrade/useForecastGrade.ts
Labels: none

chore: add beta changelog entry for PR #775
  CHANGELOG.beta.md
Labels: documentation

fix(ver2): align dashboard hook with hazard-only ProductKind
  src/components/ForecastGrade/useForecastGrade.ts
Labels: none

fix(ver2): harden forecast grade hook against stale runs and future dates
  src/components/ForecastGrade/useForecastGrade.test.tsx
  src/components/ForecastGrade/useForecastGrade.ts
  src/utils/verificationV2/archiveDate.test.ts
  src/utils/verificationV2/archiveDate.ts
  src/utils/verificationV2/index.ts
  src/utils/verificationV2/sources.ts
Labels: none

ver2(06c): replace stub with Forecast Grade dashboard shell
  src/components/ForecastGrade/ForecastGradeDashboard.css
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
Labels: css

fix(ver2): harden cloud load ordering and landscape dashboard layout
  src/components/ForecastGrade/ForecastGradeDashboard.css
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
Labels: css

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'
