Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

fix(verification): route previous-day SPC reports to the yesterday.csv feed
  CHANGELOG.md
  src/components/Verification/VerificationPanel.test.tsx
  src/components/Verification/VerificationPanel.tsx
  src/utils/stormReportParser.today.test.ts
  src/utils/stormReportParser.ts
  src/utils/verificationV2/archiveDate.test.ts
  src/utils/verificationV2/archiveDate.ts
  src/utils/verificationV2/sources.test.ts
  src/utils/verificationV2/sources.ts
Labels: documentation

refactor(verification): reduce complexity and test duplication for code health
  src/components/Verification/VerificationPanel.tsx
  src/utils/verificationV2/sources.test.ts
  src/utils/verificationV2/sources.ts
Labels: none

feat(cloud): separate payload storage and bound storage metrics
  CHANGELOG.md
  docs/firestore-rules-verification.md
  firestore.rules
  server/account-lifecycle.js
  server/account-lifecycle.test.js
  server/metrics-storage.test.js
  server/metrics.js
  src/lib/cloudCyclesService.ts
  src/types/cloudCycles.ts
  tests/firestore.rules.test.mjs
Labels: javascript, documentation

refactor(map): extract forecast map styling seam
  CHANGELOG.md
  docs/architecture/forecast-map-styling-seam.md
  scripts/test-type-errors-baseline.json
  src/components/Map/OpenLayersForecastMap.extra.test.ts
  src/components/Map/OpenLayersForecastMap.test.ts
  src/components/Map/OpenLayersForecastMap.tsx
  src/components/Map/openLayersMapStyles.test.ts
  src/components/Map/openLayersMapStyles.ts
  src/monitor/components/monitorMapFeatureSync.ts
  src/monitor/components/useMonitorMapBootstrap.ts
  src/monitor/components/useMonitorOlMap.ts
Labels: documentation

refactor(store): remove time and persistence side effects from reducers
  CHANGELOG.md
  docs/architecture/deterministic-redux-transitions.md
  src/store/customCategoryReducers.ts
  src/store/customFeatureReducers.ts
  src/store/customLayerReducerUtils.ts
  src/store/customLayerReducers.ts
  src/store/forecastDeterminism.test.ts
  src/store/forecastSlice.test.ts
  src/store/forecastSlice.ts
  src/store/index.ts
  src/store/themeSlice.test.ts
  src/store/themeSlice.ts
  src/store/timestampMiddleware.ts
Labels: documentation

refactor(metrics): extract capped payload-byte fallback
  server/metrics.js
Labels: javascript

fix(governance): reflect changelog check status in PR labels
  .github/workflows/pr-governance.yml
  scripts/check-changelog-pr.mjs
  scripts/compute-pr-labels.mjs
  scripts/lib/changelog-policy.mjs
  scripts/lib/changelog-policy.test.mjs
  scripts/lib/pr-changelog-evaluate.mjs
  scripts/lib/pr-label-managed.mjs
  scripts/lib/pr-labels.mjs
  scripts/lib/pr-labels.test.mjs
Labels: GitHub-Action

fix(governance): simplify live PR body guard for code health
  scripts/lib/pr-changelog-evaluate.mjs
Labels: none

fix(governance): refresh ci labels when the CI workflow completes
  .github/workflows/pr-governance.yml
Labels: GitHub-Action

fix(governance): restrict workflow_run label refresh to same-repo CI
  .github/workflows/pr-governance.yml
Labels: GitHub-Action

fix(governance): isolate workflow_run label refresh to avoid untrusted checkout
  .github/workflows/pr-ci-label.yml
  .github/workflows/pr-governance.yml
Labels: GitHub-Action

fix(compliance): read real dependency licenses and remove dead tooling
  .github/workflows/ci.yml
  THIRD_PARTY_NOTICES.md
  package.json
  scripts/check-license-policy.mjs
  scripts/generate-third-party-notices.mjs
  scripts/lib/license-policy.mjs
  scripts/lib/license-policy.test.mjs
Labels: GitHub-Action, dependencies, documentation

fix(a11y): isolate dialog background without hiding the modal
  src/hooks/useModalFocusTrap.test.tsx
  src/hooks/useModalFocusTrap.ts
Labels: none

fix(cloud): make metadata+payload writes atomic and log aggregate fallbacks
  server/metrics.js
  src/lib/cloudCyclesService.ts
Labels: javascript

fix(store): make cycle dates deterministic and ids collision-free
  src/store/forecastSlice.ts
  src/store/index.ts
Labels: none

fix(forecast): enforce finite coordinates and fix contradictory test
  src/utils/forecastGeometryValidation.ts
  src/utils/forecastImportValidation.test.ts
  src/utils/forecastImportValidation.ts
Labels: none

fix(deploy): require matching bundle/sourcemap pairs in Sentry verification
  scripts/lib/sentry-sourcemap-verification.mjs
  scripts/lib/sentry-sourcemap-verification.test.mjs
Labels: none

docs(forecast): correct session-restore keying comments
  src/pages/ForecastPage.tsx
Labels: none

fix(pricing): wire premiumSummary, dedupe library card copy, drop dead CSS
  src/pages/CloudLibraryPage.tsx
  src/pages/PricingPage.css
  src/pages/PricingPage.tsx
Labels: css

fix(ci): enforce dependency audits and add CloudLibraryPage coverage
  .github/workflows/ci.yml
  docs/coverage-exclusions.md
  src/pages/CloudLibraryPage.test.tsx
Labels: GitHub-Action, documentation

fix(build): remove dead guard and enforce total-JS budget
  scripts/check-bundle-budget.mjs
Labels: none

fix(map): align boundary URL indentation and log load failures
  src/components/Map/OpenLayersForecastMap.tsx
Labels: none

fix(discussion): reuse local wall-clock helpers in DiscussionEditor and document contract
  docs/architecture/discussion-wall-clock-times.md
  src/components/DiscussionEditor/DiscussionEditor.tsx
Labels: documentation

fix(forecast): retry failed categorical derivation and clarify stale-response test
  src/hooks/categoricalWorker.worker.test.ts
  src/hooks/useAutoCategorical.ts
Labels: none

test(map): strengthen style assertions and fix import spacing
  src/components/Map/OpenLayersForecastMap.tsx
  src/components/Map/openLayersMapStyles.test.ts
Labels: none

refactor(forecast): simplify coordinate counting to satisfy code-health gates
  src/utils/forecastGeometryValidation.ts
Labels: none

refactor(compliance): split dataset provenance scan to satisfy code-health gates
  scripts/generate-third-party-notices.mjs
Labels: none

refactor(forecast): linearize coordinate walk to clear bumpy-road smell
  src/utils/forecastGeometryValidation.ts
Labels: none

refactor(compliance): simplify license-field normalization
  scripts/generate-third-party-notices.mjs
Labels: none

fix(compliance): accurate python licenses and scope out dead dataset scanning
  THIRD_PARTY_NOTICES.md
  scripts/generate-third-party-notices.mjs
  scripts/generate-third-party-notices.test.mjs
Labels: documentation

fix(pricing): decouple Free plan card summary from entitlement state
  src/pages/PricingPage.tsx
Labels: none

refactor(a11y): remove redundant focus timer from ExportModal
  src/components/DrawingTools/ExportModal.tsx
Labels: none

feat(deploy): paginate Sentry artifact fetch and verify local map completeness
  scripts/lib/sentry-sourcemap-verification.mjs
  scripts/lib/sentry-sourcemap-verification.test.mjs
  scripts/verify-sentry-sourcemaps.mjs
Labels: none

test(forecast): cover StrictMode single-restore idempotency at the effect level
  src/pages/ForecastPage.test.tsx
Labels: none

ci: use the test:coverage script and make the coverage summary fail loudly
  .github/workflows/ci.yml
Labels: GitHub-Action

test(a11y): satisfy testing-library lint rules after main merge
  src/hooks/useModalFocusTrap.test.tsx
Labels: none

ci: fail dependency audit only on fixable high/critical findings
  .github/workflows/ci.yml
  scripts/enforce-dependency-audit.mjs
Labels: GitHub-Action

chore(deps): pin brace-expansion@5 to patched 5.0.9
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

fix(forecast): return stable fallback references from forecast selectors
  CHANGELOG.md
  src/store/forecastSlice.test.ts
  src/store/forecastSlice.ts
Labels: documentation

fix(forecast): freeze shared empty outlook fallback and test the real fallback path
  src/store/forecastSlice.test.ts
  src/store/forecastSlice.ts
Labels: none

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'
