Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

fix(forecast): guard shared fallback maps with a throw-on-write proxy
  src/store/forecastSlice.test.ts
  src/store/forecastSlice.ts
Labels: none

fix(governance): never label a failing changelog check as changelog:skip
  .github/workflows/pr-governance.yml
  scripts/lib/changelog-policy.test.mjs
  scripts/lib/pr-changelog-evaluate.mjs
  scripts/lib/pr-labels.mjs
  scripts/lib/pr-labels.test.mjs
Labels: GitHub-Action

refactor(verification): address PR review on previous-day report routing
  src/components/Verification/VerificationPanel.test.tsx
  src/components/Verification/VerificationPanel.tsx
  src/utils/stormReportParser.ts
  src/utils/verificationV2/sources.ts
Labels: none

fix(governance): sync ci labels for every PR in a run and single-source the label palette
  .github/workflows/pr-ci-label.yml
  .github/workflows/pr-governance.yml
  scripts/lib/pr-ci-label-state.mjs
  scripts/lib/pr-ci-label-state.test.mjs
  scripts/lib/pr-label-defs.mjs
  scripts/lib/pr-label-managed.mjs
  scripts/sync-pr-ci-label.mjs
Labels: GitHub-Action

fix(deps): resolve remaining npm security advisories
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

docs(deps): note when to remove @opentelemetry/core override
  pnpm-workspace.yaml
Labels: none

chore(deps): bump firebase-tools and @sentry/react
  package.json
  pnpm-lock.yaml
Labels: dependencies

chore(deps): bump @sentry/node in server to 10.69.0
  server/package-lock.json
  server/package.json
Labels: none

fix(governance): resolve label palette import against the workspace
  .github/workflows/pr-governance.yml
Labels: GitHub-Action

chore(deps): bump firebase-tools and @sentry/react
  package.json
  pnpm-lock.yaml
Labels: dependencies

chore(deps): bump @sentry/node in server to 10.69.0
  server/package-lock.json
  server/package.json
Labels: none

fix(forecast): route anonymous sign-in restore cast through unknown to keep TS2352 baseline
  src/pages/ForecastPage.test.tsx
Labels: none

fix(forecast): surface serialized derivation errors in auto-categorical banner
  src/hooks/autoCategoricalProcessing.ts
Labels: none

fix(ci): install server deps in license-policy job and refresh notices
  .github/workflows/ci.yml
  THIRD_PARTY_NOTICES.md
Labels: GitHub-Action, documentation

consolidate release workflows
  .github/workflows/bootstrap-stable-line.yml
  .github/workflows/check-beta-retirement.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-port-branches.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-main-to-vps.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/forward-port-stable-fix.yml
  .github/workflows/opencode.yml
  .github/workflows/pr-governance.yml
  .github/workflows/prepare-stable-promotion.yml
  .github/workflows/release-beta.yml
  .github/workflows/release-stable.yml
  .github/workflows/stale-branch-report.yml
  docs/architecture/codebase-inventory.md
  docs/operations/release-workflow.md
  scripts/validate-beta-retirement.mjs
  src/config/buildTarget.test.ts
Labels: GitHub-Action, documentation

fix beta release for protected main
  .github/workflows/release-beta.yml
Labels: GitHub-Action

use owner token for beta version push
  .github/workflows/release-beta.yml
Labels: GitHub-Action

allow matching beta artifact version
  .github/workflows/release-beta.yml
Labels: GitHub-Action

security: add baseline nginx response headers
  server/nginx-staging.conf
  server/nginx.conf
Labels: none

fix: keep application routes behind agreement gate
  src/App.tsx
Labels: none

security: enforce cloud cycle quota server-side
  server/analytics-app.js
  server/cloud-cycles.js
  src/lib/cloudCyclesService.ts
Labels: javascript

fix: defer providers until agreements are accepted
  src/App.tsx
Labels: none

fix: retain batch writes for legacy cloud migrations
  src/lib/cloudCyclesService.ts
Labels: none

test: preserve local beta bypass behind agreement gate
  src/App.tsx
Labels: none

refactor: satisfy required code health gates
  src/App.tsx
Labels: none

refactor: satisfy required code health gates
  server/cloud-cycles.js
Labels: javascript

refactor: split gate and quota validation helpers
  src/App.tsx
Labels: none

refactor: split gate and quota validation helpers
  server/cloud-cycles.js
  src/lib/cloudCyclesService.ts
Labels: javascript

refactor: finish required lint and complexity cleanup
  src/App.tsx
Labels: none

refactor: finish required lint and complexity cleanup
  server/cloud-cycles.js
  src/lib/cloudCyclesService.ts
Labels: javascript

security: rate limit cloud cycle saves
  server/analytics-app.js
  server/cloud-cycles.js
Labels: javascript

refactor: split cloud save orchestration
  server/cloud-cycles.js
  src/lib/cloudCyclesService.ts
Labels: javascript

refactor: separate cloud request validation and auth
  server/cloud-cycles.js
  src/lib/cloudCyclesService.ts
Labels: javascript

refactor: isolate cloud save context construction
  src/lib/cloudCyclesService.ts
Labels: none

refactor: group cloud request builder arguments
  src/lib/cloudCyclesService.ts
Labels: none

feat: add built-in outlook opacity controls
  src/components/DrawingTools/useExportMap.ts
  src/components/ForecastWorkspace/useForecastWorkspaceController.tsx
  src/components/Map/OpenLayersForecastMap.tsx
  src/components/Map/openLayersMapStyles.ts
  src/components/OutlookPanel/useOutlookPanelLogic.ts
  src/components/OutlookSelector/OutlookSelectorPanel.tsx
  src/store/forecastSlice.test.ts
  src/store/forecastSlice.ts
  src/types/outlooks.ts
  src/utils/exportUtils.render.test.ts
  src/utils/exportUtils.ts
  src/utils/fileUtils.ts
Labels: none

test: satisfy PR validation for opacity export
  src/components/OutlookPanel/useOutlookPanelLogic.ts
  src/components/OutlookSelector/OutlookSelectorPanel.tsx
  src/utils/exportUtils.render.test.ts
Labels: none

chore: suppress existing selector complexity advisory
  src/components/OutlookSelector/OutlookSelectorPanel.tsx
Labels: none

docs: document built-in outlook opacity
  CHANGELOG.md
Labels: documentation

fix: prevent Jest performance test memory exhaustion
  jest.config.js
  src/AppPerformance.test.tsx
Labels: javascript

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'
