Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

feat(migrations): establish postgres migration workflow
  .github/workflows/workspace.yml
  docs/DEVELOPMENT.md
  packages/database/drizzle/0000_eager_shinko_yamashiro.sql
  packages/database/drizzle/meta/0000_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/package.json
  packages/database/src/index.ts
  packages/database/src/migrate.test.ts
  packages/database/src/migrate.ts
Labels: GitHub-Action, documentation

docs(changelog): record migration workflow
  CHANGELOG.md
Labels: documentation

fix(migrations): address review feedback
  .github/workflows/workspace.yml
  docs/DEVELOPMENT.md
  packages/database/package.json
  packages/database/src/__fixtures__/rollback-migrations/0000_create_probe.sql
  packages/database/src/__fixtures__/rollback-migrations/0001_fail_after_change.sql
  packages/database/src/__fixtures__/rollback-migrations/meta/_journal.json
  packages/database/src/migrate-cli.ts
  packages/database/src/migrate.test.ts
  packages/database/src/migrate.ts
  pnpm-lock.yaml
Labels: GitHub-Action, documentation

fix(migrations): run focused integration test from workspace root
  packages/database/package.json
Labels: none

test(migrations): isolate drizzle migration metadata
  packages/database/src/migrate.test.ts
Labels: none

test(migrations): verify failed changes roll back
  packages/database/src/__fixtures__/rollback-migrations/0000_create_probe.sql
  packages/database/src/__fixtures__/rollback-migrations/meta/_journal.json
  packages/database/src/migrate.test.ts
Labels: none

feat(migrations): establish postgres migration workflow (#368)
  .github/workflows/workspace.yml
  CHANGELOG.md
  docs/DEVELOPMENT.md
  packages/database/drizzle/0000_eager_shinko_yamashiro.sql
  packages/database/drizzle/meta/0000_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/package.json
  packages/database/src/__fixtures__/rollback-migrations/0001_fail_after_change.sql
  packages/database/src/__fixtures__/rollback-migrations/meta/_journal.json
  packages/database/src/index.ts
  packages/database/src/migrate-cli.ts
  packages/database/src/migrate.test.ts
  packages/database/src/migrate.ts
  pnpm-lock.yaml
Labels: GitHub-Action, documentation

feat(contracts): define shared public IDs and versioned schemas
  CHANGELOG.md
  apps/web/package.json
  apps/web/src/lib/__tests__/parity.test.ts
  packages/contracts/src/ids.ts
  packages/contracts/src/index.test.ts
  packages/contracts/src/schemas.ts
  packages/test-fixtures/src/routes.ts
  packages/test-fixtures/src/snapshots.ts
  pnpm-lock.yaml
Labels: documentation

fix(contracts): address review feedback
  CHANGELOG.md
  apps/web/src/lib/__tests__/contracts.test.ts
  apps/web/src/lib/__tests__/parity.test.ts
  docs/DEVELOPMENT.md
  packages/contracts/src/ids.ts
  packages/contracts/src/index.test.ts
  packages/contracts/src/schemas.ts
  packages/test-fixtures/src/snapshots.ts
Labels: documentation

feat(contracts): define shared public IDs and versioned schemas (#369)
  CHANGELOG.md
  apps/web/package.json
  apps/web/src/lib/__tests__/contracts.test.ts
  docs/DEVELOPMENT.md
  packages/contracts/src/ids.ts
  packages/contracts/src/index.test.ts
  packages/contracts/src/schemas.ts
  packages/test-fixtures/src/routes.ts
  packages/test-fixtures/src/snapshots.ts
  pnpm-lock.yaml
Labels: documentation

feat(foundation): add local stack bootstrap
  .github/workflows/workspace.yml
  CHANGELOG.md
  README.md
  docker-compose.yml
  docs/DEVELOPMENT.md
  package.json
  packages/config/src/bootstrap.test.ts
  tools/bootstrap.mjs
Labels: GitHub-Action, dependencies, documentation

fix(bootstrap): detect stopped Docker engine
  README.md
  docs/DEVELOPMENT.md
  tools/bootstrap.mjs
Labels: documentation

fix(bootstrap): simplify prerequisite checks
  tools/bootstrap.mjs
Labels: none

ci(bootstrap): verify Linux startup path
  .github/workflows/workspace.yml
  CHANGELOG.md
Labels: GitHub-Action, documentation

fix(bootstrap): address review feedback
  CHANGELOG.md
  README.md
  docs/DEVELOPMENT.md
  packages/config/src/bootstrap.test.ts
  tools/bootstrap.mjs
Labels: documentation

refactor(bootstrap): simplify startup flow
  tools/bootstrap.mjs
Labels: none

feat(foundation): add local stack bootstrap (#370)
  .github/workflows/workspace.yml
  CHANGELOG.md
  README.md
  docker-compose.yml
  docs/DEVELOPMENT.md
  package.json
  packages/config/src/bootstrap.test.ts
  tools/bootstrap.mjs
Labels: GitHub-Action, dependencies, documentation

Prototype cross-hazard outlook geometry copy (#620) (#1061)
  .gitignore
  CHANGELOG.md
  src/components/ForecastWorkspace/useForecastWorkspaceController.tsx
  src/components/IntegratedToolbar/IntegratedToolbar.test.tsx
  src/components/IntegratedToolbar/TabbedToolbarSelectionStrip.tsx
  src/components/OutlookPanel/useOutlookPanelLogic.ts
  src/components/OutlookSelector/OutlookGeometryCopyControls.test.tsx
  src/components/OutlookSelector/OutlookGeometryCopyControls.tsx
  src/components/OutlookSelector/OutlookSelectorPanel.test.tsx
  src/components/OutlookSelector/OutlookSelectorPanel.tsx
  src/components/ui/dropdown-menu.tsx
  src/config/productExposureSelectors.test.ts
  src/config/productExposureSelectors.ts
  src/store/forecastGeometryCopy.test.ts
  src/store/forecastSlice.ts
  src/utils/fileUtils.test.ts
  src/utils/outlookGeometryCopy.test.ts
  src/utils/outlookGeometryCopy.ts
Labels: documentation

docs: investigate optional outlook polygon land masking (#619) (#1046)
  docs/architecture/outlook-polygon-masking-investigation.md
  docs/operations/v1.7-exposure-matrix.md
  e2e/outlook-masking.spec.ts
  src/auth/AuthProvider.test.tsx
  src/components/CycleManager/CycleManager.test.tsx
  src/components/ForecastWorkspace/useForecastWorkspaceController.tsx
  src/components/IntegratedToolbar/IntegratedToolbar.tsx
  src/components/IntegratedToolbar/OutlookTrimPopover.test.tsx
  src/components/IntegratedToolbar/OutlookTrimPopover.tsx
  src/components/IntegratedToolbar/TabbedToolbarSelectionStrip.tsx
  src/components/Map/OpenLayersForecastMap.tsx
  src/components/Map/useForecastMapReduxState.ts
  src/config/featureExposure.test.ts
  src/config/featureExposure.ts
  src/hooks/useTrimCurrentDayOutlooks.ts
  src/store/forecastOutlookReducers.ts
  src/store/forecastSlice.ts
  src/store/overlaysSlice.test.ts
  src/store/overlaysSlice.ts
  src/utils/outlookPolygonMasking/benchmarkLandMaskStrategies.ts
  src/utils/outlookPolygonMasking/buildLandMask.ts
  src/utils/outlookPolygonMasking/clipOutlookPolygon.ts
  src/utils/outlookPolygonMasking/constants.ts
  src/utils/outlookPolygonMasking/fetchBoundaryGeoBundle.ts
  src/utils/outlookPolygonMasking/geoBoundaryFeatures.ts
  src/utils/outlookPolygonMasking/landMaskRuntime.ts
  src/utils/outlookPolygonMasking/loadVendoredBoundaryGeoBundle.ts
  src/utils/outlookPolygonMasking/outlookPolygonMasking.test.ts
  src/utils/outlookPolygonMasking/outlookTrimStrategyLabels.ts
  src/utils/outlookPolygonMasking/trimOutlookData.test.ts
  src/utils/outlookPolygonMasking/trimOutlookData.ts
  src/utils/outlookPolygonMasking/trimOutlookGeometry.ts
  src/utils/outlookPolygonMasking/types.ts
Labels: documentation

KMZ/KML export prototype with unified import/export modal (#1047)
  CHANGELOG.md
  docs/operations/v1.7-exposure-matrix.md
  docs/product/kmz-export.md
  e2e/custom-layers.spec.ts
  e2e/kmz-export.spec.ts
  src/components/ForecastWorkflow/ForecastWorkflowPanel.tsx
  src/components/ForecastWorkspace/ForecastTransferModal.tsx
  src/components/ForecastWorkspace/ForecastWorkspaceLayouts.test.tsx
  src/components/ForecastWorkspace/ForecastWorkspaceModals.test.tsx
  src/components/ForecastWorkspace/ForecastWorkspaceModals.tsx
  src/components/ForecastWorkspace/forecastWorkspaceActions.test.tsx
  src/components/ForecastWorkspace/forecastWorkspaceActions.tsx
  src/components/ForecastWorkspace/useForecastWorkspaceController.tsx
  src/components/IntegratedToolbar/IntegratedToolbar.test.tsx
  src/components/IntegratedToolbar/IntegratedToolbar.tsx
  src/config/featureExposure.test.ts
  src/config/featureExposure.ts
  src/pages/ForecastPage.test.tsx
  src/pages/ForecastPage.tsx
  src/pages/forecastPageController.ts
  src/utils/forecastImportValidation.ts
  src/utils/forecastTransfer/detectFormat.ts
  src/utils/forecastTransfer/forecastCycleFromKml.ts
  src/utils/forecastTransfer/forecastTransfer.test.ts
  src/utils/forecastTransfer/index.ts
  src/utils/forecastTransfer/kmlGeometry.test.ts
  src/utils/forecastTransfer/kmlGeometry.ts
  src/utils/forecastTransfer/parseKml.ts
  src/utils/forecastTransfer/parseKmlPlacemark.ts
  src/utils/forecastTransfer/parseKmlPlacemarkHelpers.ts
  src/utils/forecastTransfer/types.ts
  src/utils/kmzExport/buildKml.ts
  src/utils/kmzExport/buildKmz.ts
  src/utils/kmzExport/collectFeatures.ts
  src/utils/kmzExport/color.ts
  src/utils/kmzExport/geometry.ts
  src/utils/kmzExport/index.ts
  src/utils/kmzExport/kmzExport.test.ts
  src/utils/kmzExport/types.ts
Labels: documentation

Edit (Step|Set) recategorize prototype (#1062)
  CHANGELOG.md
  docs/operations/v1.7-exposure-matrix.md
  docs/product/paint-bucket-tool-investigation.md
  e2e/paint-bucket.spec.ts
  e2e/smoke.spec.ts
  jest.config.js
  src/components/Map/ForecastMap.css
  src/components/Map/OpenLayersForecastMap.tsx
  src/components/Map/openLayersFeatureSync.test.ts
  src/components/Map/paintBucketMapInteraction.test.ts
  src/components/Map/paintBucketMapInteraction.ts
  src/components/Map/pickTopmostPaintBucketFeature.test.ts
  src/components/Map/pickTopmostPaintBucketFeature.ts
  src/components/Map/useForecastMapReduxState.ts
  src/config/featureExposure.ts
  src/hooks/__tests__/useAutoCategorical.test.ts
  src/store/forecastSlice.test.ts
  src/store/forecastSlice.ts
  src/store/index.ts
  src/store/paintBucketReducer.test.ts
  src/store/paintBucketReference.test.ts
  src/utils/paintBucket/applyPaintBucketStrategy.ts
  src/utils/paintBucket/index.ts
  src/utils/paintBucket/outlookScope.ts
  src/utils/paintBucket/paintBucket.test.ts
  src/utils/paintBucket/types.ts
Labels: javascript, css, documentation

fix(sentry): ignore Redux init-only opaque errors (#1080)
  src/instrument.test.ts
  src/instrument.ts
Labels: none

feat(fixtures): migrate legacy route and Advent data
  CHANGELOG.md
  README.md
  apps/web/src/lib/config.ts
  packages/contracts/src/schemas.ts
  packages/test-fixtures/src/data/advent-calendar-2024.json
  packages/test-fixtures/src/data/santa-route-2025.json
  packages/test-fixtures/src/fixtures.test.ts
  packages/test-fixtures/src/index.ts
  packages/test-fixtures/src/legacy.ts
Labels: documentation

refactor(fixtures): simplify deep freeze helper
  packages/test-fixtures/src/legacy.ts
Labels: none

feat(i18n): establish localization-ready boundaries
  CHANGELOG.md
  apps/web/package.json
  apps/web/src/app/(public)/advent/page.tsx
  apps/web/src/app/(public)/tracker/tracker-map.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/not-found.tsx
  apps/web/src/app/offline/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/countdown.tsx
  docs/LOCALIZATION.md
  packages/contracts/src/content.ts
  packages/contracts/src/index.test.ts
  packages/contracts/src/index.ts
  packages/localization/package.json
  packages/localization/src/index.test.ts
  packages/localization/src/index.ts
  packages/localization/src/messages.ts
  packages/localization/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Labels: documentation

feat(ui): add Storybook design baseline
  .github/workflows/workspace.yml
  .gitignore
  CHANGELOG.md
  docs/UI_STORYBOOK.md
  eslint.config.js
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/.storybook/test-runner.ts
  packages/ui/package.json
  packages/ui/src/components/Button.stories.tsx
  packages/ui/src/components/Button.tsx
  packages/ui/src/tokens.css
  packages/ui/src/tokens.stories.tsx
  packages/ui/src/tokens.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: GitHub-Action, javascript, css, documentation

fix(fixtures): address review feedback
  CHANGELOG.md
  apps/web/src/lib/config.ts
  packages/contracts/src/schemas.ts
  packages/test-fixtures/src/fixtures.test.ts
  packages/test-fixtures/src/legacy.ts
Labels: documentation

fix(i18n): address PR review feedback
  apps/web/src/app/(public)/tracker/tracker-map.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/not-found.tsx
  apps/web/src/app/page.tsx
  docs/LOCALIZATION.md
  packages/contracts/src/index.test.ts
  packages/localization/src/index.test.ts
  packages/localization/src/index.ts
  packages/localization/src/messages.ts
Labels: documentation

fix(ui): address Storybook review feedback
  .github/workflows/workspace.yml
  apps/web/src/app/globals.css
  eslint.config.js
  packages/ui/.storybook/preview.tsx
  packages/ui/.storybook/test-runner.ts
  packages/ui/package.json
  packages/ui/src/components/Button.stories.tsx
  packages/ui/src/components/Button.tsx
  packages/ui/src/tokens.css
  pnpm-lock.yaml
Labels: GitHub-Action, javascript, css

fix(ui): stabilize Storybook screenshot path
  packages/ui/.storybook/test-runner.ts
Labels: none

fix(i18n): thread negotiated locale through app
  apps/web/src/app/(public)/advent/page.tsx
  apps/web/src/app/(public)/tracker/page.tsx
  apps/web/src/app/(public)/tracker/tracker-map.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/not-found.tsx
  apps/web/src/app/offline/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/countdown.tsx
  apps/web/src/lib/request-locale.ts
  docs/LOCALIZATION.md
  packages/localization/src/index.ts
  packages/localization/src/locale.test.ts
Labels: documentation

feat(fixtures): migrate legacy route and Advent data (#371)
  CHANGELOG.md
  README.md
  apps/web/src/lib/config.ts
  packages/contracts/src/schemas.ts
  packages/test-fixtures/src/data/advent-calendar-2024.json
  packages/test-fixtures/src/data/santa-route-2025.json
  packages/test-fixtures/src/fixtures.test.ts
  packages/test-fixtures/src/index.ts
  packages/test-fixtures/src/legacy.ts
Labels: documentation

fix(i18n): finish locale review follow-ups
  apps/web/src/components/countdown.tsx
  packages/localization/src/index.ts
  packages/localization/src/locale.test.ts
Labels: none

fix(ui): finish Storybook review follow-up
  .github/workflows/workspace.yml
  docs/UI_STORYBOOK.md
  packages/ui/.storybook/preview.tsx
  packages/ui/.storybook/test-runner.ts
  packages/ui/package.json
  packages/ui/src/components/Button.stories.tsx
  packages/ui/src/tokens.css
Labels: GitHub-Action, css, documentation

refactor(i18n): simplify locale negotiation
  packages/localization/src/index.ts
Labels: none

feat(i18n): establish localization-ready boundaries (#372)
  CHANGELOG.md
  apps/web/package.json
  apps/web/src/app/(public)/advent/page.tsx
  apps/web/src/app/(public)/tracker/page.tsx
  apps/web/src/app/(public)/tracker/tracker-map.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/not-found.tsx
  apps/web/src/app/offline/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/countdown.tsx
  apps/web/src/lib/request-locale.ts
  docs/LOCALIZATION.md
  packages/contracts/src/content.ts
  packages/contracts/src/index.test.ts
  packages/contracts/src/index.ts
  packages/localization/package.json
  packages/localization/src/index.test.ts
  packages/localization/src/index.ts
  packages/localization/src/locale.test.ts
  packages/localization/src/messages.ts
  packages/localization/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Labels: documentation

feat(ui): add Storybook design baseline (#373)
  .github/workflows/workspace.yml
  .gitignore
  CHANGELOG.md
  apps/web/src/app/globals.css
  docs/UI_STORYBOOK.md
  eslint.config.js
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/.storybook/test-runner.ts
  packages/ui/package.json
  packages/ui/src/components/Button.stories.tsx
  packages/ui/src/components/Button.tsx
  packages/ui/src/tokens.css
  packages/ui/src/tokens.stories.tsx
  packages/ui/src/tokens.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: GitHub-Action, javascript, css, documentation

Add beta WorldPop population estimate prototype (#1081)
  CHANGELOG.md
  docs/operations/v1.7-exposure-matrix.md
  docs/research/622-worldpop-evaluation.md
  src/components/IntegratedToolbar/IntegratedToolbar.tsx
  src/components/PopulationEstimate/PopulationEstimateBeta.test.tsx
  src/components/PopulationEstimate/PopulationEstimateBeta.tsx
  src/config/featureExposure.test.ts
  src/config/featureExposure.ts
  src/utils/worldpop/client.test.ts
  src/utils/worldpop/client.ts
  src/utils/worldpop/geometry.test.ts
  src/utils/worldpop/geometry.ts
  src/utils/worldpop/index.ts
Labels: documentation

fix(legacy): hide exception details in validation errors
  archive/flask-legacy/tests/test_validation.py
  archive/flask-legacy/utils/locations.py
Labels: Testing, python

fix(deps): override vulnerable uuid versions
  package.json
  pnpm-lock.yaml
Labels: dependencies

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'
