Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'

fix(deps): override vulnerable uuid versions (#381)
  package.json
  pnpm-lock.yaml
Labels: dependencies

ci: separate Dependabot major updates
  .github/dependabot.yml
Labels: GitHub-Action

ci: separate Dependabot major updates (#382)
  .github/dependabot.yml
Labels: GitHub-Action

ci: separate major Dependabot updates (#1085)
  .github/dependabot.yml
Labels: GitHub-Action

fix(map): prevent GFC-WEB-V malformed geometry crash (#1083)
  CHANGELOG.md
  src/components/Map/OpenLayersForecastMap.tsx
  src/components/Map/openLayersFeatureSync.test.ts
  src/components/Map/openLayersFeatureSync.ts
  src/components/Map/openLayersRenderableGeometry.ts
  src/performance/openLayersSync.perf.test.ts
Labels: documentation

fix(legacy): hide exception details in validation errors (#380)
  archive/flask-legacy/tests/test_validation.py
  archive/flask-legacy/utils/locations.py
Labels: Testing, python

chore(ui): migrate Storybook to 10
  docs/UI_STORYBOOK.md
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/test-runner.ts
  packages/ui/.storybook/vitest.setup.ts
  packages/ui/package.json
  packages/ui/scripts/storybook-screenshots.mjs
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
Labels: documentation

fix(ui): isolate Storybook Vitest project
  packages/ui/vitest.config.ts
  packages/ui/vitest.storybook.config.ts
Labels: none

fix(ui): satisfy workspace Storybook checks
  packages/ui/scripts/storybook-screenshots.mjs
  packages/ui/vitest.storybook.config.ts
Labels: none

fix(ui): address Storybook review feedback
  docs/UI_STORYBOOK.md
  packages/ui/.storybook/vitest.setup.ts
  packages/ui/package.json
  packages/ui/scripts/storybook-screenshots.mjs
  packages/ui/vitest.config.ts
  packages/ui/vitest.storybook.config.ts
  packages/ui/vitest.unit.config.ts
  pnpm-lock.yaml
Labels: documentation

Define v1.8 forecast workspace boundaries (#1082)
  docs/README.md
  docs/architecture/forecast-workspace-boundaries.md
  docs/operations/v1.7-exposure-matrix.md
  e2e/custom-products.spec.ts
  e2e/discussion.spec.ts
  e2e/navigation.spec.ts
  e2e/outlook-masking.spec.ts
  e2e/paint-bucket.spec.ts
  e2e/workflows.spec.ts
  src/App.tsx
  src/config/featureExposure.test.ts
  src/config/featureExposure.ts
  src/config/featureSurfaces.test.ts
  src/routing/forecastWorkspaceRoutes.test.ts
  src/routing/forecastWorkspaceRoutes.ts
Labels: documentation

chore: migrate Babel toolchain to v8 (#1090)
  THIRD_PARTY_NOTICES.md
  babel.config.js
  jest.config.js
  package.json
  pnpm-lock.yaml
  scripts/generate-third-party-notices.mjs
Labels: javascript, dependencies, documentation

chore(ui): migrate Storybook to 10 (#389)
  docs/UI_STORYBOOK.md
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/test-runner.ts
  packages/ui/package.json
  packages/ui/scripts/storybook-screenshots.mjs
  packages/ui/vitest.config.ts
  packages/ui/vitest.storybook.config.ts
  packages/ui/vitest.unit.config.ts
  pnpm-lock.yaml
Labels: documentation

Migrate web app to Next.js 16
  apps/web/next.config.mjs
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/proxy.ts
  package.json
Labels: dependencies

Address review feedback
  apps/web/next.config.mjs
  apps/web/package.json
Labels: none

Refresh lockfile for Next.js 16 tooling
  pnpm-lock.yaml
Labels: none

Migrate web app to Next.js 16 (#390)
  apps/web/next.config.mjs
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/proxy.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies

fix(deps): pin vite toolchain to 8.2.1 to keep turf lazy
  package.json
  pnpm-lock.yaml
Labels: dependencies

chore(licenses): regenerate THIRD_PARTY_NOTICES for pinned toolchain
  THIRD_PARTY_NOTICES.md
Labels: documentation

docs: draft Santa #211 Option A — route-{season}-{slug}-{hash8} + schemaVersion v1
  docs/personal/santa-211-design.md
Labels: documentation

docs: add Santa #211 Option A design
  docs/personal/santa-211-design.md
Labels: documentation

docs: remove obsolete personal Santa design
  docs/personal/santa-211-design.md
Labels: documentation

fix: migrate schemas to zod 4 APIs
  packages/config/src/env.ts
  packages/contracts/src/schemas.ts
Labels: none

fix(css): migrate deprecated stylelint properties
  src/advent_activities/day1_ornament_smash/styles.css
  src/static/styles.css
Labels: css
