Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'

docs: record specialty preset beta changelog
  CHANGELOG.md
Labels: documentation

test: cover built-in custom product catalog
  e2e/custom-products.spec.ts
  src/components/IntegratedToolbar/CustomProductsDialog.css
Labels: css

feat: add built-in specialty style presets (#498)
  src/components/IntegratedToolbar/CustomDrawPanel.tsx
  src/lib/customStylePresets.test.ts
  src/lib/customStylePresets.ts
  src/pages/gated/CustomProductEditor.tsx
  src/pages/gated/customProductEditorModel.ts
Labels: none

refactor: group specialty preset category arguments
  src/lib/customStylePresets.ts
Labels: none

fix: address specialty preset review findings
  e2e/custom-products.spec.ts
  src/components/IntegratedToolbar/IntegratedToolbar.css
  src/lib/builtInCustomProducts.ts
  src/lib/customProductHandoff.ts
  src/lib/customProductSnapshots.ts
  src/lib/customProductTrust.ts
  src/lib/customProducts.test.ts
  src/lib/customProducts.ts
  src/lib/customProductsRepository.test.ts
  src/lib/customStylePresets.test.ts
  src/lib/customStylePresets.ts
  src/lib/firestoreCustomProductsRepository.ts
  src/lib/localCustomProductsRepository.ts
  src/pages/gated/CustomProductCard.tsx
  src/pages/gated/CustomProductsWorkspace.tsx
  src/pages/gated/customProductEditorModel.ts
Labels: css

fix: keep custom layer preset control accessible
  src/components/IntegratedToolbar/CustomDrawPanel.tsx
Labels: none

fix: keep preset picker out of narrow toolbars
  src/components/IntegratedToolbar/CustomDrawPanel.tsx
  src/components/IntegratedToolbar/IntegratedToolbar.css
Labels: css

refactor verification code for CodeScene
  src/utils/dat/client.ts
  src/utils/dat/verification.ts
  src/utils/verificationV2/gradeForecast.ts
  src/utils/verificationV2/yieldSeverity.ts
Labels: none

simplify DAT error formatting
  src/utils/dat/client.ts
Labels: none

perf: tune storm report parser from benchmark
  src/performance/stormReportParser.perf.test.ts
  src/utils/stormReportTodayCsv.ts
Labels: none

docs: document storm report parser performance fix
  CHANGELOG.md
Labels: documentation

perf: add storm report parser benchmark
  src/performance/benchmarkUtils.ts
  src/performance/stormReportParser.perf.test.ts
  src/utils/stormReportCsv.ts
Labels: none

fix: address PERF-03 review feedback
  CHANGELOG.md
  src/performance/stormReportParser.perf.test.ts
  src/utils/stormReportCsv.test.ts
  src/utils/stormReportParser.today.test.ts
  src/utils/stormReportRows.ts
  src/utils/stormReportTodayCsv.ts
Labels: documentation

refactor: simplify today report parsing
  src/utils/stormReportTodayCsv.ts
Labels: none

perf: optimize storm report CSV parsing
  src/utils/stormReportCsv.test.ts
  src/utils/stormReportCsv.ts
  src/utils/stormReportParser.today.test.ts
  src/utils/stormReportTodayCsv.ts
Labels: none

split DAT error guards
  src/utils/dat/client.ts
Labels: none

docs: define fixture contract boundaries
  docs/operations/monitor-reference-sources.md
Labels: documentation

docs: record provider contract drift workflow
  docs/operations/monitor-reference-sources.md
Labels: documentation

docs: clarify reference-source research scope
  docs/operations/monitor-reference-sources.md
Labels: documentation

docs: research Monitor reference sources (#499)
  docs/README.md
  docs/operations/monitor-reference-sources.md
  src/monitor/fixtures/nws-forecast.json
  src/monitor/fixtures/nws-point-forecast.json
  src/monitor/fixtures/spc-mesoscale-discussion.geojson
Labels: documentation

fix: align Monitor fixtures with provider contracts
  docs/operations/monitor-reference-sources.md
  src/monitor/fixtures/nws-forecast.json
  src/monitor/fixtures/nws-point-forecast.json
  src/monitor/fixtures/spc-mesoscale-discussion.geojson
Labels: documentation

address DAT verification review feedback
  docs/data/noaa-dat.md
  src/components/ForecastGrade/useForecastGrade.test.tsx
  src/components/ForecastGrade/useForecastGrade.ts
  src/utils/dat/client.test.ts
  src/utils/dat/client.ts
  src/utils/verificationV2/composite.ts
  src/utils/verificationV2/datIntegration.test.ts
  src/utils/verificationV2/gradeForecast.ts
  src/utils/verificationV2/index.ts
  src/utils/verificationV2/sources.ts
Labels: documentation

refactor(page): group shortcut controller inputs
  src/pages/ForecastPage.tsx
Labels: none

fix(map): preserve incremental feature reconciliation
  src/components/Map/OpenLayersForecastMap.tsx
  src/components/Map/useForecastMapReduxState.ts
Labels: none

refactor(map): complete domain seam extraction (#716)
  docs/architecture/forecast-map-styling-seam.md
  src/components/Map/OpenLayersForecastMap.extra.test.ts
  src/components/Map/OpenLayersForecastMap.tsx
  src/components/Map/openLayersBlankBasemap.ts
  src/components/Map/openLayersMapStyles.ts
  src/components/Map/useForecastMapReduxState.ts
  src/pages/ForecastPage.tsx
  src/pages/forecastPageController.ts
Labels: documentation

refactor(page): split rollover controller responsibilities
  src/pages/forecastPageController.ts
Labels: none

refactor(page): split rollover storage migrations
  src/pages/forecastPageController.ts
Labels: none

refactor(page): remove duplicated forecast controller logic
  src/pages/ForecastPage.tsx
  src/pages/forecastPageController.test.ts
Labels: none

fix(map): satisfy map projection hook dependencies
  src/components/Map/useForecastMapReduxState.ts
Labels: none

refactor(map): reduce extracted seam complexity (#716)
  src/components/Map/useForecastMapReduxState.ts
  src/pages/forecastPageController.ts
Labels: none

refactor(page): isolate pending rollover prompt lookup
  src/pages/forecastPageController.ts
Labels: none

refactor(page): isolate autosave restore selection
  src/pages/forecastPageController.ts
Labels: none

refactor(page): simplify rollover prompt guard
  src/pages/forecastPageController.ts
Labels: none

simplify DAT source error handling
  src/utils/verificationV2/sources.ts
Labels: none

feat: add Monitor reference layer adapters (#500)
  src/monitor/components/MonitorControls.test.tsx
  src/monitor/components/MonitorControls.tsx
  src/monitor/components/MonitorMap.tsx
  src/monitor/components/MonitorReferenceLayersSection.tsx
  src/monitor/components/monitorMapFeatureSync.ts
  src/monitor/components/monitorMapLayerUtils.ts
  src/monitor/components/monitorMapRefs.ts
  src/monitor/components/useMonitorMapBootstrap.ts
  src/monitor/components/useMonitorMapLayerSync.ts
  src/monitor/components/useMonitorMapOverlaySync.ts
  src/monitor/components/useMonitorMapWmsSync.ts
  src/monitor/components/useMonitorOlMap.ts
  src/monitor/components/useMonitorReferenceWmsSync.ts
  src/monitor/monitorSettings.test.ts
  src/monitor/monitorSettingsNormalize.ts
  src/monitor/referenceLayers.test.ts
  src/monitor/referenceLayers.ts
  src/monitor/types.ts
  src/monitor/useMonitorReferenceLayers.ts
  src/pages/MonitorPage.tsx
  src/store/monitorSlice.ts
Labels: none

docs: record Monitor reference adapter beta changelog
  CHANGELOG.md
Labels: documentation

refactor: reduce monitor integration complexity
  src/monitor/components/useMonitorMapBootstrap.ts
  src/monitor/referenceLayers.ts
  src/pages/MonitorPage.tsx
Labels: none

refactor: simplify reference layer normalization
  src/monitor/referenceLayers.ts
  src/monitor/useMonitorReferenceLayers.ts
Labels: none

refactor: extract reference collection validation
  src/monitor/referenceLayers.ts
Labels: none

fix: normalize SPC provider metadata
  src/monitor/referenceLayers.test.ts
  src/monitor/referenceLayers.ts
Labels: none
