Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

Update src/advent_activities/day1_ornament_smash/styles.css
  src/advent_activities/day1_ornament_smash/styles.css
Labels: css

Update src/advent_activities/day1_ornament_smash/styles.css
  src/advent_activities/day1_ornament_smash/styles.css
Labels: css

Implement Day 1 Advent Activity: Ornament Smash Game (#69)
  .stylelintrc.json
  src/advent_activities/README.md
  src/advent_activities/day1_ornament_smash/README.md
  src/advent_activities/day1_ornament_smash/game.js
  src/advent_activities/day1_ornament_smash/index.html
  src/advent_activities/day1_ornament_smash/styles.css
Labels: javascript, html, css, documentation

add potential shaprefile
  tools/route-editor/src/data/ne_10m_time_zones/ne_10m_time_zones.README.html
  tools/route-editor/src/data/ne_10m_time_zones/ne_10m_time_zones.VERSION.txt
  tools/route-editor/src/data/ne_10m_time_zones/ne_10m_time_zones.cpg
  tools/route-editor/src/data/ne_10m_time_zones/ne_10m_time_zones.dbf
  tools/route-editor/src/data/ne_10m_time_zones/ne_10m_time_zones.prj
  tools/route-editor/src/data/ne_10m_time_zones/ne_10m_time_zones.shp
  tools/route-editor/src/data/ne_10m_time_zones/ne_10m_time_zones.shx
Labels: html

Add timezone layer with styling and interactive popups in MapEditor
  tools/route-editor/src/components/MapEditor.jsx
Labels: none

Delete Shapefile
  tools/route-editor/src/data/ne_10m_time_zones/ne_10m_time_zones.README.html
  tools/route-editor/src/data/ne_10m_time_zones/ne_10m_time_zones.VERSION.txt
  tools/route-editor/src/data/ne_10m_time_zones/ne_10m_time_zones.cpg
  tools/route-editor/src/data/ne_10m_time_zones/ne_10m_time_zones.dbf
  tools/route-editor/src/data/ne_10m_time_zones/ne_10m_time_zones.prj
  tools/route-editor/src/data/ne_10m_time_zones/ne_10m_time_zones.shp
  tools/route-editor/src/data/ne_10m_time_zones/ne_10m_time_zones.shx
Labels: html

Add Documentation
  tools/route-editor/src/components/MapEditor.jsx
Labels: none

Address Review Comments
  tools/route-editor/src/components/MapEditor.jsx
Labels: none

Fix undeclared variables
  tools/route-editor/src/components/MapEditor.jsx
Labels: none

Update tools/route-editor/src/components/MapEditor.jsx
  tools/route-editor/src/components/MapEditor.jsx
Labels: none

Update tools/route-editor/src/components/MapEditor.jsx
  tools/route-editor/src/components/MapEditor.jsx
Labels: none

Update tools/route-editor/src/components/MapEditor.jsx
  tools/route-editor/src/components/MapEditor.jsx
Labels: none

Fix/timezone layer (#72)
  tools/route-editor/src/components/MapEditor.jsx
Labels: none

Update black version to 25.11.0
  requirements-dev.txt
Labels: none

Expand Python test runner to support versions 3.10-3.14 (#74)
  .github/workflows/testing.yml
  pyproject.toml
  requirements-dev.txt
Labels: GitHub-Action, python

Add deployment workflows for Santa Tracker on release and first deployment setup
  .github/workflows/deploy-on-release.yml
  .github/workflows/first-deploy.yml
Labels: GitHub-Action

Update .github/workflows/first-deploy.yml
  .github/workflows/first-deploy.yml
Labels: GitHub-Action

Update .github/workflows/deploy-on-release.yml
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Update .github/workflows/deploy-on-release.yml
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Add deployment workflows for Santa Tracker (#75)
  .github/workflows/deploy-on-release.yml
  .github/workflows/first-deploy.yml
Labels: GitHub-Action

Update deployment service configuration for Santa Tracker
  .github/workflows/first-deploy.yml
Labels: GitHub-Action

Fix service configuration paths in first deployment workflow
  .github/workflows/first-deploy.yml
Labels: GitHub-Action

Change Flask app port to 5001 for development
  src/app.py
Labels: python

Change service user from 'santa' to 'root' in deployment workflow
  .github/workflows/first-deploy.yml
Labels: GitHub-Action

Fix map overlapping sticky header on scroll (#77)
  src/static/tracker-styles.css
Labels: css

Fix admin authentication by loading .env files (#81)
  .env.example
  src/app.py
  tests/test_env_loading.py
Labels: Testing, python

Update src/static/script.js
  src/static/script.js
Labels: javascript

Update src/static/script.js
  src/static/script.js
Labels: javascript

Fix journey status and Santa position before Christmas (#80)
  .eslintrc.json
  src/static/script.js
Labels: javascript

Fix deploy workflow ownership issues causing systemd service failures (#82)
  .github/workflows/deploy-on-release.yml
  .github/workflows/first-deploy.yml
  docs/DEPLOY.md
  docs/DEPLOYMENT.md
Labels: GitHub-Action, documentation

Update deploy-on-release.yml
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Update deploy-on-release.yml (#83)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Fix syntax error in deployment script
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Update .github/workflows/deploy-on-release.yml
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Fix syntax error in deployment script (#84)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Enhance deployment script security and clarity
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Update .github/workflows/deploy-on-release.yml
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Update .github/workflows/deploy-on-release.yml
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Update .github/workflows/deploy-on-release.yml
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Update .github/workflows/deploy-on-release.yml
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'
