Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'

Make verification theme follow app mode
  src/components/ForecastGrade/ForecastGradeDashboard.css
Labels: css

fix(verification): preserve mobile feedback polish
  src/components/ForecastGrade/ForecastGradeDashboard.css
  src/components/ForecastGrade/sourcePanelParts.tsx
Labels: css

docs: add analysis deck beta changelog entry
  CHANGELOG.beta.md
Labels: documentation

Fix Forecast Grade grading workflow
  CHANGELOG.beta.md
  src/components/ForecastGrade/ForecastGradeDashboard.css
  src/components/ForecastGrade/ForecastGradeMapControls.tsx
  src/components/ForecastGrade/ForecastGradeMapPane.tsx
  src/components/ForecastGrade/RunProgress.tsx
  src/components/ForecastGrade/sourcePanelParts.tsx
  src/components/Map/OpenLayersVerificationMap.test.ts
  src/components/Map/OpenLayersVerificationMap.tsx
Labels: css, documentation

fix(verification): address CodeRabbit layout feedback
  CHANGELOG.beta.md
  src/components/ForecastGrade/ForecastGradeDashboard.css
  src/components/ForecastGrade/useForecastGradeDashboardActions.ts
  src/components/Map/ForecastMap.css
  src/components/Map/Legend.tsx
  src/components/Map/OpenLayersVerificationMap.test.ts
  src/components/Map/OpenLayersVerificationMap.tsx
Labels: css, documentation

refactor(verification): address opencode review
  src/components/ForecastGrade/ForecastGradeDashboard.css
  src/components/ForecastGrade/ForecastGradeMapControls.tsx
  src/components/ForecastGrade/ForecastGradeMapPane.tsx
  src/components/ForecastGrade/ForecastGradeWorkspace.tsx
  src/components/Map/OpenLayersVerificationMap.test.ts
Labels: css

Remove dead graphical-forecast-creator dir and enable verificationRelaunch on local
  graphical-forecast-creator/src/immerSetup.ts
  graphical-forecast-creator/src/index.tsx
  graphical-forecast-creator/src/store/forecastSlice.ts
  graphical-forecast-creator/src/store/index.ts
  src/config/featureExposure.test.ts
  src/config/featureExposure.ts
  src/config/v17WorkstreamAdoption.exposure.test.ts
  src/pages/verificationRelaunch.exposure.test.tsx
Labels: none

Fit verification results within viewport
  src/config/featureExposure.acknowledgements.json
Labels: none

docs: add viewport polish beta changelog entry
  CHANGELOG.beta.md
Labels: documentation

Fit verification workspace to viewport
  src/components/ForecastGrade/DataQualityPanel.tsx
  src/components/ForecastGrade/ForecastGradeMapPane.tsx
  src/components/ForecastGrade/ForecastGradeResultsPane.tsx
  src/components/ForecastGrade/GradeHeadline.tsx
  src/components/ForecastGrade/ReportTable.tsx
  src/components/ForecastGrade/ScoreBreakdown.tsx
Labels: none

fix(verification): style final workspace surfaces
  src/components/ForecastGrade/ForecastGradeDashboard.css
  src/components/ForecastGrade/ForecastGradeResultsPane.test.tsx
Labels: css

chore(verification): resolve analysis warnings
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
  src/components/ForecastGrade/ForecastGradeMapPane.tsx
  src/components/ForecastGrade/ForecastGradeResultsPane.tsx
  src/components/ForecastGrade/ForecastGradeWorkspace.tsx
  src/components/ForecastGrade/useForecastGradeDashboardActions.ts
Labels: none

refactor(verification): satisfy analysis quality gates
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
  src/components/ForecastGrade/ForecastGradeWorkspace.tsx
  src/components/ForecastGrade/GradeHeadline.tsx
  src/components/ForecastGrade/ScoreBreakdown.tsx
  src/components/ForecastGrade/useForecastGradeDashboardActions.ts
Labels: none

fix(verification): clear DeepSource findings
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
  src/components/ForecastGrade/ForecastGradeMapPane.tsx
  src/components/ForecastGrade/ForecastGradeWorkspace.tsx
  src/components/ForecastGrade/useForecastGradeDashboardActions.ts
Labels: none

refactor(verification): flatten DeepSource JSX
  src/components/ForecastGrade/GradeHeadline.tsx
  src/components/ForecastGrade/ScoreBreakdown.tsx
Labels: none

Polish verification grading progress state
  src/components/ForecastGrade/ForecastGradeResultsPane.tsx
  src/components/ForecastGrade/RunProgress.test.tsx
  src/components/ForecastGrade/RunProgress.tsx
Labels: none

Remove duplicate map grading overlay
  src/components/ForecastGrade/ForecastGradeDashboard.css
  src/components/ForecastGrade/ForecastGradeMapPane.tsx
Labels: css

fix(verification): align workspace with map pane props
  src/components/ForecastGrade/ForecastGradeWorkspace.tsx
Labels: none

Refine verification sidebar controls
  src/components/ForecastGrade/ForecastGradeSelect.tsx
  src/components/ForecastGrade/GradeTrendChart.test.tsx
  src/components/ForecastGrade/GradeTrendChart.tsx
  src/components/Map/Legend.css
  src/components/Map/Legend.tsx
Labels: css

Fix trend test type
  src/components/ForecastGrade/GradeTrendChart.test.tsx
Labels: none

fix(verification): document DeepSource callbacks
  src/components/ForecastGrade/ForecastGradeSelect.tsx
  src/components/ForecastGrade/GradeTrendChart.tsx
  src/components/Map/Legend.tsx
Labels: none

docs(verification): complete beta changelog entry
  CHANGELOG.beta.md
Labels: documentation

fix(verification): clear remaining DeepSource findings
  src/components/ForecastGrade/ForecastGradeMapPane.tsx
  src/components/ForecastGrade/GradeTrendChart.tsx
  src/components/Map/Legend.tsx
Labels: none

fix(verification): address OpenCode review
  src/components/ForecastGrade/ForecastGradeDashboard.css
  src/components/ForecastGrade/useForecastGrade.ts
  src/components/ForecastGrade/useForecastGradeDashboardActions.ts
Labels: css

fix(verification): clear remaining analysis findings
  src/components/ForecastGrade/useForecastGrade.ts
Labels: none

chore: freeze automatic delivery during migration
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-main-to-vps.yml
  .github/workflows/post-merge-automation.yml
  .github/workflows/pr-porting.yml
Labels: GitHub-Action

docs: clarify migration freeze governance
  .github/workflows/post-merge-automation.yml
Labels: GitHub-Action

feat(verification): recalibrate Forecast Grade v3
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
  src/components/ForecastGrade/ScoreBreakdown.tsx
  src/components/ForecastGrade/methodology.ts
  src/pages/VerificationPage.tsx
  src/utils/verificationV2/composite.ts
  src/utils/verificationV2/constants.ts
  src/utils/verificationV2/eventCapture.test.ts
  src/utils/verificationV2/eventCapture.ts
  src/utils/verificationV2/formulaVersion.ts
  src/utils/verificationV2/gradeContract.ts
  src/utils/verificationV2/gradeForecast.test.ts
  src/utils/verificationV2/gradeHistory.test.ts
  src/utils/verificationV2/gradeScoring.test.ts
  src/utils/verificationV2/index.ts
  src/utils/verificationV2/neighborhood.test.ts
  src/utils/verificationV2/neighborhood.ts
  src/utils/verificationV2/testFixtures.ts
  src/utils/verificationV2/tierPlacement.test.ts
  src/utils/verificationV2/tierPlacement.ts
  src/utils/verificationV2/yieldSeverity.test.ts
  src/utils/verificationV2/yieldSeverity.ts
Labels: none

Update opencode workflow to pass GH_PAT token to action
  .github/workflows/opencode.yml
Labels: GitHub-Action

Update opencode workflow to pass GH_PAT token to action
  .github/workflows/opencode.yml
Labels: GitHub-Action

fix(verification): clear beta PR gates
  CHANGELOG.beta.md
  src/components/ForecastGrade/ScoreBreakdown.tsx
  src/utils/verificationV2/composite.ts
Labels: documentation

fix(verification): clear CI and DeepSource findings
  src/components/ForecastGrade/GradeTrendChart.test.tsx
  src/components/ForecastGrade/ScoreBreakdown.tsx
  src/components/ForecastGrade/shareCard.test.ts
  src/components/ForecastGrade/useForecastGrade.test.tsx
  src/components/ForecastGrade/useShareCardActions.test.ts
  src/utils/verificationV2/gradeHistory.test.ts
Labels: none

refactor(verification): flatten diagnostic table JSX
  src/components/ForecastGrade/ScoreBreakdown.tsx
Labels: none

refactor(verification): share score row rendering
  src/components/ForecastGrade/ScoreBreakdown.tsx
Labels: none

docs(verification): document grading helpers
  src/utils/verificationV2/neighborhood.ts
  src/utils/verificationV2/yieldSeverity.ts
Labels: none

fix(verification): clear remaining analyzer findings
  src/utils/verificationV2/gradeContract.ts
  src/utils/verificationV2/neighborhood.ts
Labels: none

fix(verification): narrow fixture turf import
  src/utils/verificationV2/testFixtures.ts
Labels: none

Remove unsupported token input from opencode workflow
  .github/workflows/opencode.yml
Labels: GitHub-Action

ci: make branch and changelog policy explicit
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  scripts/check-changelog-pr.mjs
  scripts/compute-pr-labels.mjs
  scripts/lib/branch-policy.mjs
  scripts/lib/branch-policy.test.mjs
  scripts/lib/changelog-policy.mjs
  scripts/lib/changelog-policy.test.mjs
Labels: GitHub-Action, documentation

Remove unsupported token input from opencode workflow
  .github/workflows/opencode.yml
Labels: GitHub-Action
