Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

Hides Tracker Page for Testing and Build Up (#156)
  src/app.py
  src/templates/home.html
Labels: python, html

Enhance Santa Tracker with cinematic camera controls and improved trail visualization
  src/static/script.js
  src/static/tracker-styles.css
  src/templates/tracker.html
Labels: javascript, html, css

Refactor map reference handling and improve null checks in Santa Tracker logic
  src/static/script.js
  src/static/tracker-styles.css
Labels: javascript, css

Fix index lookup in interpolatePosition function for route interpolation
  src/static/script.js
Labels: javascript

Improve pastTrail handling and prevent duplicate points in Santa Tracker logic
  src/static/script.js
Labels: javascript

Refactor distance calculation in haversine formula and improve boolean checks in Santa Tracker logic
  src/static/script.js
Labels: javascript

Refactor Santa Tracker logic for improved performance and maintainability
  src/static/script.js
Labels: javascript

Add cinematic camera and Santa trail tracking to Tracker Page (#157)
  src/static/script.js
  src/static/tracker-styles.css
  src/templates/tracker.html
Labels: javascript, html, css

Add initial To-Do document for Christmas 2025 preparations
  TODO.md
Labels: documentation

Enhance countdown functionality to prioritize route anchor departure times and improve fallback handling
  src/static/home-script.js
  src/static/script.js
Labels: javascript

Refactor countdown logic for clarity and consistency; update variable names for better readability
  src/static/home-script.js
  src/static/script.js
Labels: javascript

Refactor interval management for improved cleanup and organization
  src/static/home-script.js
  src/static/script.js
Labels: javascript

Fix typo in comment for North Pole coordinates
  src/static/script.js
Labels: javascript

Fix time preference logic in getSantaStatus for consistency with countdown
  src/static/script.js
Labels: javascript

Enhance countdown logic to handle route loading delays and improve timestamp validation for robustness
  src/static/home-script.js
  src/static/script.js
Labels: javascript

Refactor error handling in loadSantaRoute for improved clarity and consistency; update variable names for better readability
  src/static/home-script.js
  src/static/script.js
Labels: javascript

Enhance countdown functionality to prioritize route anchor departure … (#158)
  src/static/home-script.js
  src/static/script.js
Labels: javascript

commit to work on another machine
  src/static/data/santa_route.json
  src/static/data/santa_route_orig.json
  src/static/script.js
Labels: javascript

Add debug instrumentation for map events and method calls
  .gitignore
  TODO.md
  src/static/data/santa_route.json
  src/static/data/santa_route_orig.json
  src/static/script.js
Labels: javascript, documentation

Add loading overlays and enhance route loading logic for smoother UI experience
  src/static/script.js
Labels: javascript

update PR template
  .github/pull_request_template.md
Labels: GitHub-Action, documentation

Update .github/pull_request_template.md
  .github/pull_request_template.md
Labels: GitHub-Action, documentation

chore(github): Update PR Template to be better organized (#159)
  .github/pull_request_template.md
Labels: GitHub-Action, documentation

Implement feature X to enhance user experience and optimize performance
  src/static/script.js
Labels: javascript

Refactor tracking logic and remove unused variables for improved clarity and performance
  src/static/script.js
Labels: javascript

Refactor tracking logic and enhance animation handling for smoother Santa movement
  src/static/script.js
Labels: javascript

Refactor overlay management and improve distance calculations for enhanced performance
  src/static/script.js
Labels: javascript

fix(frontend): stabilize map startup and align trail/marker (#160)
  .gitignore
  TODO.md
  src/static/data/santa_route.json
  src/static/script.js
Labels: javascript, documentation

Update app.py
  src/app.py
Labels: python

Enable tracker on home page
  src/app.py
Labels: python

Add MIT License to the project
  LICENSE
Labels: none

docs(architecture): record 2026 application ADR
  docs/adr/0001-application-architecture.md
  docs/planning/christmas-2026-reinvention.md
Labels: documentation

docs(planning): normalize draft formatting
  docs/planning/christmas-2026-reinvention.md
Labels: documentation

docs(architecture): address Greptile review
  docs/adr/0001-application-architecture.md
  docs/planning/christmas-2026-reinvention.md
Labels: documentation

feat(ver2): drop categorical parsing from neighborhood helpers
  src/utils/verificationV2/neighborhood.ts
Labels: none

chore: add beta changelog entry for PR #769
  CHANGELOG.beta.md
Labels: documentation

ver2(02): SPC 25-mile neighborhood + Armchair-style area geometry
  src/utils/verificationV2/neighborhood.ts
Labels: none

ver2(03): probability skill, spatial contingency, and FAR components
  src/utils/verificationV2/probSpatial.ts
Labels: none

refactor(ver2): split prob-spatial scorers for code health
  src/utils/verificationV2/farDiscipline.ts
  src/utils/verificationV2/gridEvaluation.ts
  src/utils/verificationV2/probSpatial.ts
  src/utils/verificationV2/probabilitySkill.ts
  src/utils/verificationV2/spatialContingency.ts
Labels: none

fix(ver2): simplify probability skill and guard non-finite BSS
  src/utils/verificationV2/probSpatial.ts
Labels: none

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'
