Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

Build v1.7 release updates page
  public/updates/v1.7/auto-tstm.png
  public/updates/v1.7/custom-products.png
  public/updates/v1.7/verification-v2.png
  public/updates/v1.7/workflows.png
  src/content/updates/types.ts
  src/content/updates/v1.7.ts
  src/pages/UpdatesPage.css
  src/pages/UpdatesPage.test.tsx
  src/pages/UpdatesPage.tsx
Labels: css

Align v1.7 changelog with shipped features
  CHANGELOG.md
Labels: documentation

Update release route test headline
  src/App.updates-route.test.tsx
Labels: none

Reduce updates page complexity
  src/pages/UpdatesPage.tsx
Labels: none

Make stable release bump beta version
  .github/workflows/release-stable.yml
  docs/operations/release-workflow.md
  docs/operations/v1.7-release-candidate.md
Labels: GitHub-Action, documentation

fix(deploy): run production Auto-TSTM backend from release
  .github/workflows/deploy-main-to-vps.yml
  deploy/production-deployment-config.json
Labels: GitHub-Action

test: cover production Auto-TSTM runtime config
  scripts/lib/deployment-config.test.mjs
Labels: none

chore(deps): stage compatible v1.8 updates
  CHANGELOG.md
  THIRD_PARTY_NOTICES.md
  jest.config.js
  package.json
  pnpm-lock.yaml
  server/package-lock.json
  server/package.json
Labels: javascript, dependencies, documentation

Delete .jules/bolt.md
  .jules/bolt.md
Labels: documentation

Delete .jules/sentinel.md
  .jules/sentinel.md
Labels: documentation

Delete .jules/bolt.md
  .jules/bolt.md
Labels: documentation

Delete .jules/sentinel.md
  .jules/sentinel.md
Labels: documentation

Delete .jules/bolt.md
  .jules/bolt.md
Labels: documentation

Delete .jules/sentinel.md
  .jules/sentinel.md
Labels: documentation

Delete .jules/bolt.md
  .jules/bolt.md
Labels: documentation

Delete .jules/sentinel.md
  .jules/sentinel.md
Labels: documentation

fix v1.7 release changelog
  CHANGELOG.md
Labels: documentation

perf(app): keep heavy pages out of barrel imports
  src/App.tsx
  src/pages/index.ts
Labels: none

fix: tolerate missing home outlet context
  src/pages/home/useHomePageLogic.ts
Labels: none

fix: tolerate standalone cycle history modal
  src/components/CycleManager/CycleHistoryModal.tsx
Labels: none

test: mock direct home route import
  src/App.test.tsx
Labels: none

fix: reconcile hosted Firebase capability on startup
  server/analytics.js
  server/feature-capabilities.js
  server/feature-capabilities.test.js
  server/package.json
Labels: javascript

fix: address PR 935 review feedback
  src/App.test.tsx
  src/components/CycleManager/CycleHistoryModal.tsx
  src/pages/home/useHomePageLogic.ts
  src/pages/index.ts
Labels: none

fix(metrics): require auth for product events (#934)
  server/metrics.js
  server/metrics.test.js
Labels: javascript

fix: allow reference layer settings writes (#1035)
  firestore.rules
  tests/firestore.rules.test.mjs
Labels: none

fix(auth): preserve profile creation timestamps (#936)
  firestore.rules
  src/auth/AuthProvider.test.tsx
  src/auth/AuthProvider.tsx
  tests/firestore.rules.test.mjs
Labels: none

fix(ci): pin third-party actions in deployment workflows (#944)
  .github/workflows/deploy-main-to-vps.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/release-beta.yml
Labels: GitHub-Action

fix(forecast): stop repeated auto-categorical derivation (#945)
  src/hooks/__tests__/useAutoCategorical.test.ts
  src/hooks/useAutoCategorical.ts
Labels: none

fix(cloud): enforce cycle ownership on overwrite (#946)
  server/cloud-cycles.js
  server/cloud-cycles.test.js
Labels: javascript

fix(ci): restrict manual deploy refs (#947)
  .github/workflows/deploy-main-to-vps.yml
  .github/workflows/deploy-staging.yml
Labels: GitHub-Action

perf(verification): reuse empty outlook selector (#987)
  src/store/verificationSlice.test.ts
  src/store/verificationSlice.ts
Labels: none

fix(dev): bind vite to localhost (#989)
  scripts/lib/vite-host.test.mjs
  src/lib/betaAccess.test.ts
  src/lib/betaAccess.ts
  vite.config.ts
Labels: none

fix(forecast): toggle significant state (#990)
  src/store/forecastSlice.test.ts
  src/store/forecastSlice.ts
Labels: none

fix(billing): hide raw route errors (#991)
  server/billing-error-boundary.test.js
  server/billing.js
  server/package.json
Labels: javascript

fix(forecast): reject unsupported outlook maps (#992)
  src/store/forecastSlice.test.ts
  src/store/forecastSlice.ts
Labels: none

perf(forecast): reuse selector fallback values (#993)
  src/components/ForecastWorkspace/useForecastWorkspaceController.tsx
Labels: none

fix(cloud): make sync status reactive (#994)
  src/hooks/useCloudSync.test.ts
  src/hooks/useCloudSync.ts
Labels: none

fix(billing): enforce effective checkout availability (#995)
  src/billing/EntitlementProvider.test.tsx
  src/billing/EntitlementProvider.tsx
Labels: none

fix(auth): bound synced forecaster names (#996)
  firestore.rules
  src/auth/AuthProvider.test.tsx
  src/auth/AuthProvider.tsx
Labels: none

fix(storm-reports): parse rolling YY dates (#997)
  src/utils/stormReportParser.test.ts
  src/utils/stormReportParser.ts
Labels: none

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'
