Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'

test: run inventory helper checks with node
  scripts/generate-repository-inventory.test.mjs
Labels: none

refactor: simplify inventory import resolution
  scripts/generate-repository-inventory.mjs
Labels: none

docs: generate local repository inventory
  package.json
  scripts/generate-repository-inventory.mjs
  scripts/generate-repository-inventory.test.mjs
Labels: dependencies

test: avoid unnecessary inventory template literal
  scripts/generate-repository-inventory.test.mjs
Labels: none

refactor: split inventory dependency scan
  scripts/generate-repository-inventory.mjs
Labels: none

refactor: reduce inventory scanner complexity
  scripts/generate-repository-inventory.mjs
Labels: none

docs: build ignored local documentation site
  package.json
  scripts/build-local-docs.mjs
  scripts/build-local-docs.test.mjs
Labels: dependencies

refactor: simplify local Markdown rendering
  scripts/build-local-docs.mjs
Labels: none

refactor: split Markdown list rendering
  scripts/build-local-docs.mjs
Labels: none

refactor: simplify local docs parser conditions
  scripts/build-local-docs.mjs
Labels: none

chore: satisfy documentation analyzer rules
  scripts/build-local-docs.mjs
  scripts/local-docs.css
Labels: css

fix: address local docs review feedback
  scripts/build-local-docs.mjs
  scripts/build-local-docs.test.mjs
Labels: none

refactor: reduce docs renderer quality warnings
  scripts/build-local-docs.mjs
Labels: none

docs: document inline link protection
  scripts/build-local-docs.mjs
Labels: none

fix(instrument): drop Failed to fetch Sentry noise (GFC-WEB-Q)
  CHANGELOG.md
  docs/operations/sentry-gfc-web-q-investigation.md
  src/instrument.test.ts
  src/instrument.ts
Labels: documentation

fix(deps): relocate overrides to pnpm-workspace.yaml and resolve npm vulnerabilities
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies

fix(deps): add undici and ip-address overrides for newly published advisories
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

test(instrument): cover app-frame edge cases and de-duplicate scaffolding (GFC-WEB-Q)
  docs/operations/sentry-gfc-web-q-investigation.md
  src/instrument.test.ts
Labels: documentation

fix: filter no-stack AbortError rejection noise (GFC-WEB-P)
  CHANGELOG.md
  src/instrument.test.ts
  src/instrument.ts
Labels: documentation

chore: run TypeScript 6 side-by-side with TypeScript 7 and add ESLint 9
  README.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  scripts/check-test-types.mjs
Labels: dependencies, documentation

docs: explain the dual TypeScript 6/7 toolchain
  README.md
Labels: documentation

chore: include expectBeforeSendToDrop in expect-expect assertion helpers
  eslint.config.mjs
Labels: none

fix(deps): bump protobufjs to 7.6.5 in server
  server/package-lock.json
  server/package.json
Labels: none

fix(deps): add ip-address override in server for SSRF advisories
  server/package-lock.json
  server/package.json
Labels: none

fix: correct TypeScript errors that blocked typecheck in CI
  src/components/Documentation/DocumentationContent.tsx
  src/components/Map/OpenLayersForecastMap.tsx
  src/components/OutlookPanel/outlookPanelUtils.ts
  src/components/OutlookPanel/useOutlookPanelLogic.ts
  src/components/ui/input.tsx
  src/components/ui/textarea.tsx
  src/reportWebVitals.ts
  src/store/forecastSlice.ts
  src/types/outlooks.ts
  src/utils/outlookUtils.ts
Labels: none

fix: restore Day48Probability import used by the day4-8 branch
  src/components/OutlookPanel/outlookPanelUtils.ts
Labels: none

fix: align react-hooks dependency arrays with exhaustive-deps
  src/auth/AuthProvider.tsx
  src/hooks/useCloudSync.ts
  src/monitor/components/useMonitorMapBootstrap.ts
  src/monitor/components/useMonitorMapOverlaySync.ts
  src/monitor/components/useMonitorOlMap.ts
  src/monitor/components/useMonitorRadarWmsSync.ts
  src/monitor/components/useMonitorSatelliteWmsSync.ts
  src/monitor/useWmsLayerPlayback.ts
  src/pages/DiscussionPage.tsx
  src/pages/ForecastPage.tsx
  src/pages/useDiscussionFormState.ts
Labels: none

chore: drop redundant any return type in request lifecycle helper
  src/instrument.test.ts
Labels: none

fix: address PR review for react-router v8 migration
  .github/workflows/ci.yml
  babel.config.js
  package.json
  pnpm-lock.yaml
Labels: GitHub-Action, javascript, dependencies

chore: address review feedback on lint-cleanup PR
  src/App.test.tsx
  src/components/CycleManager/CycleHistoryModalDialog.tsx
  src/components/CycleManager/CycleManager.test.tsx
  src/components/DaySelector/DaySelectorPanel.test.tsx
  src/components/DaySelector/DaySelectorPanel.tsx
  src/components/DrawingTools/DrawingTools.test.tsx
  src/components/DrawingTools/DrawingTools.tsx
  src/components/ForecastGrade/RunProgress.test.tsx
  src/components/ForecastGrade/useForecastGrade.test.tsx
  src/components/ForecastWorkspace/ForecastWorkspaceModals.test.tsx
  src/components/ForecastWorkspace/ForecastWorkspaceModals.tsx
  src/components/ui/separator.test.tsx
  src/pages/HomePage.tsx
  src/pages/UpdatesPage.test.tsx
  src/pages/UpdatesPage.tsx
  src/pages/gated/CustomProductPreview.tsx
  src/pages/gated/CustomProductsPage.test.tsx
  src/pages/home/HomePage.test.tsx
Labels: none

fix(e2e): update Playwright specs for the current UI
  e2e/auto-tstm.spec.ts
  e2e/discussion.spec.ts
  e2e/smoke.spec.ts
  e2e/workflows.spec.ts
Labels: none

fix(e2e): address review on the e2e spec updates
  e2e/auto-tstm.spec.ts
  e2e/discussion.spec.ts
Labels: none

ci: add typecheck, lint, feature-exposure and e2e stages
  .github/workflows/ci.yml
  docs/operations/feature-exposure-testing.md
Labels: GitHub-Action, documentation

ci: run build-and-test on Node 22.x, 24.x and 26.x
  .github/workflows/ci.yml
Labels: GitHub-Action

fix(e2e): de-flake workflow continuity suite under CI load
  e2e/workflows.spec.ts
Labels: none

fix(forecast): prevent auto-categorical derivation from silently dropping geometry
  src/components/Map/CategoricalErrorBanner.css
  src/components/Map/CategoricalErrorBanner.test.tsx
  src/components/Map/CategoricalErrorBanner.tsx
  src/components/Map/OpenLayersForecastMap.tsx
  src/hooks/__tests__/useAutoCategorical.test.ts
  src/hooks/autoCategoricalProcessing.ts
  src/hooks/useAutoCategorical.ts
  src/store/forecastSlice.test.ts
  src/store/forecastSlice.ts
Labels: css

docs(changelog): document auto-categorical integrity fix
  CHANGELOG.md
Labels: documentation

fix(verification): route same-day SPC reports to the live today.csv feed
  CHANGELOG.md
  src/utils/verificationV2/archiveDate.test.ts
  src/utils/verificationV2/archiveDate.ts
  src/utils/verificationV2/sources.test.ts
  src/utils/verificationV2/sources.ts
Labels: documentation

fix(forecast): resolve test-type regressions and simplify geometry normalization
  src/components/CycleManager/CycleManager.test.tsx
  src/hooks/__tests__/useAutoCategorical.test.ts
  src/hooks/autoCategoricalProcessing.ts
Labels: none

fix(deploy): fail closed when Sentry sourcemap publication is unverified
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-main-to-vps.yml
  .github/workflows/deploy-staging.yml
  CHANGELOG.md
  scripts/lib/sentry-sourcemap-verification.mjs
  scripts/lib/sentry-sourcemap-verification.test.mjs
  scripts/verify-sentry-sourcemaps.mjs
  vite.config.ts
Labels: GitHub-Action, documentation
