Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

Precision polygon editing: tier-scoped vertices and removal (#624) (#1055)
  .codescene/code-health-rules.json
  CHANGELOG.md
  docs/architecture/precision-polygon-editing-624.md
  src/components/Map/ForecastMap.css
  src/components/Map/OpenLayersForecastMap.tsx
  src/components/Map/precisionPolygonEditHandler.test.ts
  src/components/Map/precisionPolygonEditHandler.ts
  src/components/Map/precisionPolygonEditing.test.ts
  src/components/Map/precisionPolygonEditing.ts
  src/store/forecastOutlookReducers.ts
  src/store/forecastSlice.test.ts
  src/store/forecastSlice.ts
Labels: css, documentation

fix(autosave): clear superseded debounce timers (#988)
  src/hooks/useAutoSave.test.tsx
  src/hooks/useAutoSave.ts
Labels: none

[DeepSource audit][JS-D1001] Document scripts findings (#1063)
  scripts/generate-exposure-diagnostics.mjs
  scripts/generate-exposure-report.mjs
  scripts/generate-stale-branch-report.mjs
  scripts/lib/feature-exposure-source-parser.mjs
Labels: none

[DeepSource audit][JS-D1001] Document server finding (#1064)
  server/testing/featureExposureHarness.js
Labels: javascript

[DeepSource audit] Normalize UI file endings (#1065)
  src/components/Documentation/Documentation.tsx
  src/components/DrawingTools/DrawingToolsHelp.tsx
  src/components/DrawingTools/DrawingToolsToolbar.tsx
  src/components/DrawingTools/ToolButton.tsx
Labels: none

[DeepSource audit][JS-D1001] Document shared client logic policy (#1066)
  .deepsource.toml
  docs/deepsource/shared-client-logic.md
  src/hooks/autoCategoricalProcessing.ts
Labels: documentation

[DeepSource audit][JS-D1001] Document state and test support policy (#1067)
  docs/deepsource/state-and-test-support.md
Labels: documentation

[Audit][Security] Enforce complete production CSP (#1069)
  server/gfc-security-headers.conf
  server/nginx-security-headers.test.js
  server/nginx.conf
Labels: javascript

fix(release): start v1.8 beta versioning (#1070)
  package.json
Labels: dependencies

Bump version to 1.8.0-beta.1
  package.json
Labels: dependencies

fix(release): retry untagged beta versions (#1071)
  .github/workflows/release-beta.yml
Labels: GitHub-Action

Update model in opencode workflow configuration
  .github/workflows/opencode.yml
Labels: GitHub-Action

[codex] recover auto-categorical worker timeouts (#1068)
  CHANGELOG.md
  src/hooks/__tests__/useAutoCategorical.test.ts
  src/hooks/categoricalWorker.ts
  src/hooks/categoricalWorker.worker.test.ts
  src/hooks/useAutoCategorical.ts
Labels: documentation

ci: add OpenCode workflow from GFC
  .github/workflows/opencode.yml
Labels: GitHub-Action

ci: add OpenCode workflow from GFC (#351)
  .github/workflows/opencode.yml
Labels: GitHub-Action

feat(web): scaffold Next.js App Router shell (composition root)
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.test.tsx
  apps/web/src/app/page.tsx
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
Labels: javascript, css

fix(review): make PR green — Greptile, CodeScene, stylelint
  .github/workflows/linting.yml
  .github/workflows/workspace.yml
  .stylelintrc.json
  CHANGELOG.md
  README.md
  eslint.config.js
  package.json
  packages/contracts/src/schemas.ts
  packages/route-engine/src/state.ts
  packages/route-engine/src/validate.ts
Labels: GitHub-Action, javascript, dependencies, documentation

chore(workspace): configure pnpm workspace root and strict tooling
  .gitignore
  .prettierignore
  .prettierrc.json
  eslint.config.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  vitest.config.ts
Labels: javascript, dependencies

refactor(route-engine): split journey state for CodeScene health
  packages/route-engine/src/progress.ts
  packages/route-engine/src/segment.ts
  packages/route-engine/src/state.ts
Labels: none

refactor(route-engine): reduce CodeScene complexity in journey state
  packages/route-engine/src/state.ts
Labels: none

docs(ci): update workflows, README, and changelog for workspace
  .github/dependabot.yml
  .github/workflows/linting.yml
  .github/workflows/workspace.yml
  CHANGELOG.md
  README.md
  docs/DEVELOPMENT.md
Labels: GitHub-Action, documentation

fix(auth): make tampered token test deterministic
  tests/test_admin_api.py
Labels: Testing, python

fix(lint): format tampered token test for black/isort
  tests/test_admin_api.py
Labels: Testing, python

fix(review): clarify scaffold-only flags and harden health to 9/10
  CHANGELOG.md
  README.md
  packages/contracts/src/schemas.ts
  packages/route-engine/src/segment.ts
  pyproject.toml
Labels: python, documentation

ci: add CodeQL and CodeScene configs to ignore archive and lockfiles
  .codescene
  .github/codeql/codeql-config.yml
Labels: GitHub-Action

fix: align analyzer ignore paths
  .codescene
  .github/codeql/codeql-config.yml
Labels: GitHub-Action

chore(codeql/codescene): exclude generated archives and lockfiles (#344)
  .codescene
  .github/codeql/codeql-config.yml
Labels: GitHub-Action

fix: parity test robust path and tsconfig exclude .next for stack
  apps/web/src/lib/__tests__/parity.test.ts
  apps/web/tsconfig.json
Labels: none

fix: parity test TS error (remove string.catch) and relax eslint
  apps/web/src/lib/__tests__/parity.test.ts
Labels: none

domain: port Flask utils to TypeScript pure logic
  apps/web/middleware.ts
  apps/web/src/lib/__tests__/parity.test.ts
  apps/web/src/lib/advent.ts
  apps/web/src/lib/auth.ts
  apps/web/src/lib/config.ts
  apps/web/src/lib/locations.ts
  apps/web/src/lib/route-sim.ts
  apps/web/vitest.config.ts
Labels: none

fix: make domain workspace checks pass
  apps/web/middleware.ts
  apps/web/package.json
  apps/web/src/lib/__tests__/parity.test.ts
  apps/web/src/lib/auth.ts
  apps/web/src/lib/locations.ts
  apps/web/src/lib/route-sim.ts
  apps/web/tsconfig.json
  eslint.config.js
  pnpm-lock.yaml
Labels: javascript

refactor: reduce domain code health complexity
  apps/web/src/lib/advent.ts
  apps/web/src/lib/locations.ts
Labels: none

fix: address domain review findings
  apps/web/middleware.ts
  apps/web/src/lib/__tests__/parity.test.ts
  apps/web/src/lib/advent.ts
  apps/web/src/lib/auth.ts
  apps/web/src/lib/config.ts
  apps/web/src/lib/locations.ts
Labels: none

test: make Flask boundary checks deterministic
  apps/web/src/lib/__tests__/parity.test.ts
Labels: none

fix: close remaining domain review findings
  apps/web/src/lib/advent.ts
  apps/web/src/lib/config.ts
  apps/web/src/lib/locations.ts
Labels: none

refactor: simplify location validation
  apps/web/src/lib/locations.ts
Labels: none

refactor: reduce advent string argument coupling
  apps/web/src/lib/advent.ts
Labels: none

fix: use app data paths for fresh installs
  apps/web/src/lib/config.ts
Labels: none

domain: port Flask utils to TypeScript pure logic [#221] (#345)
  apps/web/middleware.ts
  apps/web/package.json
  apps/web/src/lib/__tests__/parity.test.ts
  apps/web/src/lib/advent.ts
  apps/web/src/lib/auth.ts
  apps/web/src/lib/config.ts
  apps/web/src/lib/locations.ts
  apps/web/src/lib/route-sim.ts
  apps/web/tsconfig.json
  apps/web/vitest.config.ts
  eslint.config.js
  pnpm-lock.yaml
Labels: javascript

public: migrate Flask public pages and APIs to Next.js
  apps/web/data/advent_calendar.json
  apps/web/data/santa_route.json
  apps/web/public/data/advent_calendar.json
  apps/web/public/data/santa_route.json
  apps/web/public/offline.html
  apps/web/public/santa_route.json
  apps/web/public/static/data/santa_route.json
  apps/web/public/sw.js
  apps/web/src/app/(public)/advent/page.tsx
  apps/web/src/app/(public)/tracker/page.tsx
  apps/web/src/app/api/advent/day/[day]/route.ts
  apps/web/src/app/api/advent/manifest/route.ts
  apps/web/src/app/api/health/route.ts
  apps/web/src/app/index/route.ts
  apps/web/src/app/not-found.tsx
  apps/web/src/app/offline/page.tsx
  apps/web/src/app/page.tsx
Labels: javascript, html

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'
