Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'

fix(e2e): re-enable Auto-TSTM e2e suite by exposing Auto-TSTM on local and beta
  e2e/auto-tstm.spec.ts
  server/lib/serverFeatureExposure.js
  server/testing/autoTstm.exposure.test.js
  server/tstm.test.js
  src/config/featureExposure.acknowledgements.json
  src/config/featureExposure.test.ts
  src/config/featureExposure.ts
  src/config/v17WorkstreamAdoption.exposure.test.ts
Labels: javascript

fix(exposure): update diagnostics test for local autoTstm exposure
  src/config/featureExposureDiagnostics.test.ts
Labels: none

fix(forecast): bound and schema-validate imported forecast files
  CHANGELOG.md
  src/components/VerificationMode/VerificationMode.test.tsx
  src/components/VerificationMode/VerificationMode.tsx
  src/hooks/useFileLoader.test.ts
  src/hooks/useFileLoader.ts
  src/pages/ForecastPage.test.tsx
  src/pages/ForecastPage.tsx
  src/utils/fileUtils.ts
  src/utils/forecastImportValidation.test.ts
  src/utils/forecastImportValidation.ts
Labels: documentation

refactor(deploy): split Sentry verification response handling into small helpers
  scripts/lib/sentry-sourcemap-verification.mjs
Labels: none

refactor(forecast): simplify import validation and file loader handlers
  src/hooks/useFileLoader.ts
  src/utils/forecastImportValidation.ts
Labels: none

fix(map): vendor and immutably pin runtime boundary GeoJSON assets
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/geo-boundary-datasets.md
  public/geodata/ne_110m_admin_0_countries.geojson
  public/geodata/ne_110m_lakes.geojson
  public/geodata/us-states.json
  scripts/validate-geo-assets.mjs
  scripts/validate-geo-assets.test.mjs
  src/components/Map/OpenLayersForecastMap.extra.test.ts
  src/components/Map/OpenLayersForecastMap.tsx
  src/components/Map/OpenLayersVerificationMap.tsx
  src/config/geoBoundarySources.ts
  src/monitor/components/monitorMapLayerUtils.ts
Labels: GitHub-Action, documentation

refactor(deploy): simplify extractFiles envelope detection
  scripts/lib/sentry-sourcemap-verification.mjs
Labels: none

fix(accessibility): harden dialog focus isolation, field labels, and route landmarks
  CHANGELOG.md
  src/components/CycleManager/CopyFromPreviousModal.tsx
  src/components/DrawingTools/ExportModal.tsx
  src/components/ForecastWorkflow/CompletionHandoff.tsx
  src/components/PrivacyPolicy/PrivacyPolicyModal.tsx
  src/components/ToS/ToSModal.tsx
  src/hooks/useModalFocusTrap.test.tsx
  src/hooks/useModalFocusTrap.ts
  src/pages/DiscussionPage.tsx
  src/pages/ForecastPage.tsx
  src/pages/MonitorPage.tsx
  src/pages/VerificationPage.tsx
Labels: documentation

refactor(forecast): extract tree-bounds and legacy-outlooks validation helpers
  src/utils/forecastImportValidation.ts
Labels: none

fix(accessibility): consolidate focus trap, simplify handlers, and avoid duplicate route headings
  src/hooks/useModalFocusTrap.ts
  src/pages/ForecastPage.tsx
  src/pages/MonitorPage.tsx
Labels: none

fix(discussion): preserve local wall-clock times in validity controls
  CHANGELOG.md
  src/pages/useDiscussionFormState.test.tsx
  src/pages/useDiscussionFormState.ts
  src/utils/datetimeLocal.test.ts
  src/utils/datetimeLocal.ts
Labels: documentation

refactor(a11y): flatten handleTabKey conditional branches
  src/hooks/useModalFocusTrap.ts
Labels: none

refactor(forecast): split geometry and day validation into small helpers
  src/utils/forecastImportValidation.ts
Labels: none

refactor(forecast): extract probability-entry validation helper
  src/utils/forecastImportValidation.ts
Labels: none

fix(forecast): make session restore idempotent and keep toasts clear of mobile controls
  CHANGELOG.md
  src/components/Layout/AppLayout.tsx
  src/components/Toast/Toast.css
  src/components/Toast/Toast.tsx
  src/pages/ForecastPage.test.tsx
  src/pages/ForecastPage.tsx
Labels: css, documentation

chore(forecast): annotate forecast-cycle validation complexity exemption
  src/utils/forecastImportValidation.ts
Labels: none

chore(forecast): annotate feature validation complexity exemption
  src/utils/forecastImportValidation.ts
Labels: none

perf(app): split route bundles and enforce an entry-chunk budget
  .github/workflows/ci.yml
  CHANGELOG.md
  scripts/check-bundle-budget.mjs
  src/App.tsx
  vite.config.ts
Labels: GitHub-Action, documentation

refactor(build): extract vendor chunk mapping to a small helper
  vite.config.ts
Labels: none

refactor(forecast): split import validation into focused domain modules
  src/utils/forecastGeometryValidation.ts
  src/utils/forecastImportValidation.ts
  src/utils/forecastOutlookValidation.ts
  src/utils/forecastValidationTypes.ts
Labels: none

refactor(build): drive vendor chunk mapping from config rules
  vite.config.ts
Labels: none

perf(forecast): move auto-categorical derivation off the UI thread
  CHANGELOG.md
  jest.config.js
  src/__mocks__/workerMock.js
  src/hooks/autoCategorical.worker.ts
  src/hooks/categoricalWorker.test.ts
  src/hooks/categoricalWorker.ts
  src/hooks/categoricalWorker.worker.test.ts
  src/hooks/useAutoCategorical.ts
Labels: javascript, documentation

refactor(pricing): consolidate free-versus-premium copy and remove repetition
  CHANGELOG.md
  src/billing/pricingCopy.test.ts
  src/billing/pricingCopy.ts
  src/pages/AccountPage.tsx
  src/pages/CloudLibraryPage.tsx
  src/pages/PricingPage.test.tsx
  src/pages/PricingPage.tsx
Labels: documentation

chore(forecast): annotate remaining validation complexity exemptions
  src/utils/forecastGeometryValidation.ts
  src/utils/forecastOutlookValidation.ts
Labels: none

chore(tooling): restore standalone typecheck and supported CI maintenance gates
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/coverage-exclusions.md
  jest.config.js
  package.json
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.test.json
Labels: GitHub-Action, javascript, dependencies, documentation

ci(tooling): make dependency audit gates report-only and harden transitive deps
  .github/workflows/ci.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: GitHub-Action

chore: drop ineffective brace-expansion@4 override
  pnpm-workspace.yaml
Labels: none

chore(forecast): annotate legacy outlooks complexity exemption
  src/utils/forecastOutlookValidation.ts
Labels: none

chore: sync lockfile with workspace overrides
  pnpm-lock.yaml
Labels: none

feat(server): minimize and snapshot public capability and status schemas
  CHANGELOG.md
  docs/public-status-schema.md
  server/lib/capabilityStatus.js
  server/lib/capabilityStatus.test.js
  server/server-stack.test.js
Labels: javascript, documentation

chore(forecast): annotate day-key validation complexity exemption
  src/utils/forecastOutlookValidation.ts
Labels: none

feat(compliance): generate third-party notices and enforce a dependency-license policy
  .github/workflows/ci.yml
  CHANGELOG.md
  THIRD_PARTY_NOTICES.md
  package.json
  scripts/check-license-policy.mjs
  scripts/check-third-party-licenses.mjs
  scripts/generate-third-party-notices.mjs
  scripts/generate-third-party-notices.test.mjs
  scripts/lib/license-policy.mjs
  scripts/lib/license-policy.test.mjs
Labels: GitHub-Action, dependencies, documentation

fix(compliance): remove unused variable and import in license check script
  scripts/check-third-party-licenses.mjs
Labels: none

refactor(compliance): simplify license classification and drop unused variable
  scripts/lib/license-policy.mjs
Labels: none

chore(forecast): annotate forecast-day validation complexity exemption
  src/utils/forecastOutlookValidation.ts
Labels: none

chore(forecast): annotate forecast-cycle complexity exemption
  src/utils/forecastOutlookValidation.ts
Labels: none

test(forecast): reduce duplication in import validation tests
  src/utils/forecastImportValidation.test.ts
Labels: none

chore(forecast): annotate file-level code health exemptions
  src/pages/ForecastPage.tsx
  src/utils/forecastOutlookValidation.ts
Labels: none

chore(codescene): exempt file-level rules via repo config
  .codescene/code-health-rules.json
  src/pages/ForecastPage.tsx
  src/utils/forecastOutlookValidation.ts
Labels: none

chore(codescene): exempt string-heavy argument rule
  .codescene/code-health-rules.json
Labels: none
