Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

refactor: address changelog review findings
  scripts/check-changelog-pr.mjs
  scripts/prepare-changelog-governance.mjs
Labels: none

ci: prepare automated changelog metadata before checks
  .github/workflows/ci.yml
  .github/workflows/dependabot-changelog.yml
  scripts/check-changelog-pr.mjs
  scripts/lib/changelog-automation.mjs
  scripts/lib/changelog-automation.test.mjs
  scripts/prepare-changelog-governance.mjs
Labels: GitHub-Action

Update opencode workflow to pass GH_PAT token to action
  .github/workflows/opencode.yml
Labels: GitHub-Action

refactor: simplify changelog declaration parser
  scripts/lib/changelog-policy.mjs
Labels: none

docs: document changelog policy helpers
  scripts/lib/changelog-policy.mjs
Labels: none

ci: add manual release lines and stable bootstrap
  .github/workflows/bootstrap-stable-line.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-main-to-vps.yml
  .github/workflows/release-beta.yml
  .github/workflows/release-stable.yml
Labels: GitHub-Action

release: compose curated and native release notes
  .github/release.yml
  .github/workflows/ci.yml
  .github/workflows/release-beta.yml
  .github/workflows/release-stable.yml
  scripts/create-github-release.mjs
  scripts/lib/release-notes.mjs
  scripts/lib/release-notes.test.mjs
Labels: GitHub-Action

refactor: address release workflow review findings
  .github/workflows/bootstrap-stable-line.yml
  scripts/create-github-release.mjs
  scripts/create-github-release.test.mjs
  scripts/lib/changelog.mjs
  scripts/lib/changelog.test.mjs
  scripts/lib/release-notes.mjs
Labels: GitHub-Action

docs: finish release helper review fixes
  scripts/create-github-release.mjs
  scripts/lib/changelog.mjs
Labels: none

ci: refresh existing port conflict issues
  .github/workflows/forward-port-stable-fix.yml
Labels: GitHub-Action

ci: track conflicted ports as issues
  .github/workflows/forward-port-stable-fix.yml
Labels: GitHub-Action

fix: make forward-port workflow YAML valid
  .github/workflows/forward-port-stable-fix.yml
Labels: GitHub-Action

ci: forward-port stable merges into main
  .github/workflows/forward-port-stable-fix.yml
Labels: GitHub-Action

fix: harden stable forward-port workflow
  .github/workflows/forward-port-stable-fix.yml
  docs/release-workflow.md
Labels: GitHub-Action, documentation

ci: prepare guarded main cutover
  .github/PULL_REQUEST_TEMPLATE/beta_to_main.md
  .github/copilot-instructions.md
  .github/workflows/bump-beta-after-main-release.yml
  .github/workflows/ci.yml
  .github/workflows/prepare-beta-main-release-pr.yml
  .github/workflows/prepare-main-cutover.yml
  .github/workflows/promote-beta-to-main.yml
  scripts/lib/package-version.mjs
  scripts/lib/package-version.test.mjs
Labels: GitHub-Action, documentation

fix: address main cutover review findings
  .github/workflows/prepare-main-cutover.yml
  scripts/bump-beta-after-main-release.mjs
  scripts/lib/package-version.mjs
  scripts/lib/package-version.test.mjs
  scripts/prepare-main-release-version.mjs
  scripts/strip-beta-prerelease-version.mjs
  scripts/validate-package-version.mjs
Labels: GitHub-Action

docs: clarify cutover changelog gate
  .github/workflows/prepare-main-cutover.yml
Labels: GitHub-Action

refactor: remove obsolete version policy inputs
  scripts/lib/package-version.mjs
Labels: none

refactor: simplify version policy branching
  scripts/lib/package-version.mjs
Labels: none

fix: remove unused package policy variable
  scripts/validate-package-version.mjs
Labels: none

refactor: simplify stable hotfix validator
  scripts/validate-stable-hotfix-pr.mjs
Labels: none

docs: complete release helper contracts
  scripts/lib/port-conflicts.mjs
  scripts/validate-stable-hotfix-pr.mjs
Labels: none

fix: make hotfix policy parser compatible
  scripts/validate-stable-hotfix-pr.mjs
Labels: none

ci: forward-port stable fixes into main
  .github/scripts/port-changes.sh
  scripts/classify-port-conflicts.mjs
  scripts/lib/port-conflicts.mjs
  scripts/lib/port-conflicts.test.mjs
  scripts/lib/port-pr-policy.mjs
  scripts/lib/port-pr-policy.test.mjs
  scripts/lib/port-targets.mjs
  scripts/lib/port-targets.test.mjs
  scripts/lib/porting-constants.mjs
  scripts/porting-decision.mjs
Labels: GitHub-Action

ci: add manual staging and stable hotfix gates
  .github/PULL_REQUEST_TEMPLATE/stable_hotfix.md
  .github/workflows/ci.yml
  .github/workflows/deploy-staging.yml
  deploy/staging-deployment-config.json
  scripts/lib/stable-hotfix-policy.test.mjs
  scripts/validate-production-release-pr.mjs
  scripts/validate-stable-hotfix-pr.mjs
Labels: GitHub-Action, documentation

fix: satisfy release policy analyzer
  scripts/lib/port-conflicts.mjs
  scripts/lib/port-targets.mjs
  scripts/validate-production-release-pr.mjs
  scripts/validate-stable-hotfix-pr.mjs
Labels: none

style: avoid concatenated hotfix policy messages
  scripts/validate-stable-hotfix-pr.mjs
Labels: none

ci: add reviewed main to stable promotion
  .github/PULL_REQUEST_TEMPLATE/release_to_main.md
  .github/workflows/prepare-stable-promotion.yml
  scripts/lib/stable-promotion.test.mjs
  scripts/prepare-stable-promotion.mjs
Labels: GitHub-Action, documentation

ci: split next-major and stable changelog lanes
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  scripts/check-changelog-pr.mjs
  scripts/lib/changelog-policy.mjs
  scripts/lib/changelog-policy.test.mjs
  scripts/lib/changelog.mjs
  scripts/lib/changelog.test.mjs
  scripts/lib/dependabot-changelog.mjs
  scripts/lib/dependabot-changelog.test.mjs
  scripts/update-dependabot-changelog.mjs
Labels: GitHub-Action, documentation

refactor: simplify changelog policy helpers
  scripts/lib/changelog-policy.mjs
  scripts/lib/changelog.mjs
Labels: none

refactor: isolate changelog lane extraction
  scripts/lib/changelog-lanes.mjs
  scripts/lib/changelog-lanes.test.mjs
  scripts/lib/changelog-policy.test.mjs
  scripts/lib/changelog.mjs
Labels: none

fix: satisfy changelog helper quality gates
  scripts/lib/changelog-lanes.mjs
  scripts/lib/changelog.mjs
  scripts/lib/dependabot-changelog.mjs
Labels: none

docs: document dependency block helper
  scripts/lib/dependabot-changelog.mjs
Labels: none

fix: satisfy changelog lane quality checks
  scripts/lib/changelog-policy.test.mjs
  scripts/lib/changelog.mjs
  scripts/lib/dependabot-changelog.mjs
Labels: none

style: simplify changelog fixture literal
  scripts/lib/dependabot-changelog.test.mjs
Labels: none

fix: remove unused changelog policy symbols
  scripts/check-changelog-pr.mjs
  scripts/lib/changelog.mjs
Labels: none

refactor: centralize changelog lane parsing
  scripts/lib/changelog-lanes.mjs
  scripts/lib/changelog-lanes.test.mjs
  scripts/lib/changelog-policy.mjs
  scripts/lib/dependabot-changelog.mjs
  scripts/prepare-stable-promotion.mjs
Labels: none

ci: retire beta branch architecture
  .github/PULL_REQUEST_TEMPLATE/beta_to_main.md
  .github/dependabot.yml
  .github/scripts/port-changes.sh
  .github/workflows/bump-beta-after-main-release.yml
  .github/workflows/check-beta-retirement.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/post-merge-automation.yml
  .github/workflows/pr-porting.yml
  .github/workflows/prepare-beta-main-release-pr.yml
  .github/workflows/promote-beta-to-main.yml
  docs/alert-banner.md
  docs/hosted-rollout.md
  docs/release-workflow.md
  docs/timed-production-rollout.md
  package.json
  scripts/apply-version-bump.mjs
  scripts/check-changelog-pr.mjs
  scripts/consolidate-beta-changelog.mjs
  scripts/lib/beta-changelog.mjs
  scripts/lib/beta-changelog.test.mjs
  scripts/lib/branch-policy.mjs
  scripts/lib/branch-policy.test.mjs
  scripts/lib/bump-beta-after-main-release.mjs
  scripts/lib/bump-beta-after-main-release.test.mjs
  scripts/lib/changelog-policy.mjs
  scripts/lib/changelog-policy.test.mjs
  scripts/lib/package-version.mjs
  scripts/lib/package-version.test.mjs
  scripts/lib/port-pr-policy.mjs
  scripts/lib/port-pr-policy.test.mjs
  scripts/lib/pr-label-content.mjs
  scripts/lib/pr-label-routing.mjs
  scripts/lib/pr-labels.test.mjs
  scripts/lib/version-bump.mjs
  scripts/lib/version-bump.test.mjs
  scripts/setup-vps.sh
  scripts/update-dependabot-changelog.mjs
  scripts/validate-beta-retirement.mjs
Labels: GitHub-Action, dependencies, documentation

ci: remove legacy beta changelog
  CHANGELOG.beta.md
Labels: documentation

docs: explain manual port conflict issues
  docs/release-workflow.md
Labels: documentation

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'
