Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'

refactor: remove retired beta policy inputs
  scripts/lib/changelog-policy.mjs
  scripts/lib/pr-label-routing.mjs
  scripts/update-dependabot-changelog.mjs
Labels: none

fix: finish changelog provider quality fixes
  scripts/lib/changelog-policy.test.mjs
Labels: none

refactor: simplify promotion label routing
  scripts/lib/pr-label-routing.mjs
Labels: none

docs: document changelog path helper
  scripts/lib/changelog-policy.mjs
Labels: none

test: align retired beta changelog policy
  scripts/lib/changelog-policy.test.mjs
Labels: none

ci: finalize automated changelog governance
  .github/scripts/port-changes.sh
  AGENTS.md
  scripts/check-changelog-pr.mjs
  scripts/lib/changelog-policy.mjs
  scripts/lib/changelog-policy.test.mjs
  scripts/lib/changelog.mjs
  scripts/lib/dependabot-changelog.mjs
  scripts/lib/dependabot-changelog.test.mjs
  scripts/lib/pr-label-content.mjs
  scripts/prepare-changelog-governance.mjs
  scripts/update-dependabot-changelog.mjs
Labels: GitHub-Action, documentation

docs: satisfy release helper analysis
  scripts/lib/changelog.mjs
Labels: none

docs: satisfy changelog policy analysis
  scripts/check-changelog-pr.mjs
  scripts/lib/changelog-policy.mjs
Labels: none

docs: document manual release and changelog lanes
  docs/release-workflow.md
Labels: documentation

docs: satisfy changelog script analysis
  scripts/check-changelog-pr.mjs
  scripts/lib/changelog-policy.mjs
Labels: none

refactor: simplify changelog lane validation
  scripts/lib/changelog-policy.mjs
Labels: none

refactor: use documented changelog helpers
  scripts/check-changelog-pr.mjs
  scripts/lib/changelog-policy.mjs
Labels: none

test: remove retired dependabot validation case
  scripts/lib/dependabot-changelog.test.mjs
Labels: none

clean stale beta architecture references
  .deepsource.toml
  AGENTS.md
  README.md
  docs/release-workflow.md
  scripts/lib/changelog-policy.mjs
Labels: documentation

handle unavailable changelog during label evaluation
  scripts/lib/changelog-policy.mjs
Labels: none

consolidate beta changelog into main
  CHANGELOG.md
Labels: documentation

sync server dependency lockfile
  server/package-lock.json
Labels: none

remove duplicate billing guard declaration
  server/billing.js
Labels: javascript

resolve DeepSource non-null assertion
  e2e/workflows.spec.ts
Labels: none

remove unused stale branch marker import
  scripts/lib/stale-branch-github.mjs
Labels: none

resolve remaining DeepSource major findings
  server/account-lifecycle.js
  server/billing-cleanup.js
  server/billing.js
  src/lib/customProductSnapshots.ts
  src/lib/localCustomProductsRepository.ts
  src/pages/gated/CustomProductEditor.tsx
  src/testing/featureExposure/targetMatrix.ts
Labels: javascript

document existing CodeScene hotspot exceptions
  src/components/DrawingTools/DrawingTools.tsx
  src/components/Map/Legend.tsx
  src/hooks/useAutoCategorical.ts
  src/hooks/useWorkflowAwarenessSync.ts
  src/utils/exportUtils.ts
Labels: none

reduce duplicated outlook conversion rules
  src/hooks/useWorkflowAwarenessSync.ts
  src/utils/exportUtils.ts
  src/utils/outlookUtils.ts
Labels: none

tighten CodeScene hotspot boundaries
  src/hooks/useWorkflowAwarenessSync.ts
  src/utils/exportUtils.ts
  src/utils/outlookUtils.ts
Labels: none

curate consolidated next-major changelog
  CHANGELOG.md
Labels: documentation

split categorical processing from hook
  src/hooks/autoCategoricalProcessing.ts
  src/hooks/useAutoCategorical.ts
Labels: none

extract declarative outlook constraints
  src/utils/outlookConstraints.ts
  src/utils/outlookUtils.ts
Labels: none

fix: resolve pr814 analyzer findings
  AGENTS.md
  src/components/ForecastWorkspace/useForecastWorkspaceController.tsx
  src/components/IntegratedToolbar/IntegratedToolbar.tsx
  src/components/OutlookSelector/OutlookSelectorPanel.tsx
  src/hooks/autoCategoricalProcessing.ts
  src/utils/outlookUtils.extra.test.ts
  src/utils/outlookUtils.test.ts
  src/utils/outlookUtils.ts
Labels: documentation

refactor: reduce toolbar analyzer size
  src/components/IntegratedToolbar/IntegratedToolbar.tsx
Labels: none

refactor: keep toolbar below analyzer threshold
  src/components/IntegratedToolbar/IntegratedToolbar.tsx
Labels: none

consolidate beta changelog into main
  CHANGELOG.md
Labels: documentation

curate consolidated next-major changelog
  CHANGELOG.md
Labels: documentation

chore: remove stale cutover scaffolding
  .github/workflows/prepare-main-cutover.yml
  scripts/fixtures/stale-branch-report.json
  scripts/lib/stale-branch-github.mjs
  scripts/lib/stale-branch-report.mjs
  scripts/lib/stale-branch-report.test.mjs
  scripts/validate-promotion-exposure-pr.mjs
Labels: GitHub-Action

docs: add current repository architecture map
  docs/README.md
  docs/architecture/codebase-inventory.md
Labels: documentation

docs: document direct TypeScript check command
  docs/architecture/codebase-inventory.md
Labels: documentation

docs: address repository map review findings
  docs/README.md
  docs/architecture/codebase-inventory.md
Labels: documentation

docs: add source and server boundary guides
  scripts/README.md
  scripts/lib/README.md
  server/README.md
  server/lib/README.md
  server/release/README.md
  server/testing/README.md
  server/weather/README.md
  src/README.md
  src/components/README.md
  src/config/README.md
  src/features/README.md
  src/hooks/README.md
  src/maps/README.md
  src/monitor/README.md
  src/pages/README.md
  src/store/README.md
  src/types/README.md
  src/utils/README.md
Labels: documentation

docs: address boundary README review
  src/auth/README.md
  src/billing/README.md
  src/components/README.md
  src/content/README.md
  src/lib/README.md
  src/metrics/README.md
  src/monitor/README.md
  src/routing/README.md
  src/testing/README.md
Labels: documentation

fix(types): repair outlook constraints and panel probability typing
  CHANGELOG.md
  src/components/OutlookPanel/outlookPanelUtils.ts
  src/utils/outlookConstraints.ts
  src/utils/outlookUtils.ts
Labels: documentation

docs: address inventory review findings
  scripts/generate-repository-inventory.mjs
  scripts/generate-repository-inventory.test.mjs
Labels: none
