Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

Refactor documentation: concise README with modular topic-specific guides (#63)
  README.md
  docs/ADMIN_DASHBOARD.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  docs/COUNTDOWN_TIMER.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  todo.md
Labels: documentation

data organization stuff
  Route Data/Databases/countries.sqlite3
  Route Data/Databases/regions.sqlite3
  Route Data/Databases/states.sqlite3
  Route Data/Databases/subregions.sqlite3
  Route Data/Location Lists/phase1_anchors.json
  Route Data/Location Lists/phase2_candidates_UTC+14_00.json
  Route Data/Maps/map_viz_UTC+14_00.html
  Route Data/Old Route Data/santa_route.txt
  Route Data/scripts/map_viz.py
  Route Data/scripts/phase1.py
  Route Data/scripts/phase2.py
  cities.sqlite3-shm
  cities.sqlite3-wal
  countries.sqlite3
  countries.sqlite3-shm
  countries.sqlite3-wal
  phase1_anchors.json
  regions.sqlite3
  santa_route.txt
  scripts/phase1.py
  states.sqlite3
  subregions.sqlite3
Labels: python, html

Potential fix for code scanning alert no. 21: Information exposure through an exception
  src/app.py
Labels: python

Add visual route simulator with fantasy-speed animation, route simulation API, trial route system, comprehensive test coverage, improve code quality, and fix all linting issues (#65)
  README.md
  Route Data/Maps/map_viz_UTC+14_00.html
  Route Data/scripts/map_viz.py
  Route Data/scripts/phase2.py
  _config.yml
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  home.html
  index.html
  src/app.py
  src/generate_static.py
  src/templates/admin.html
  src/templates/route_simulator.html
  src/utils/locations.py
  tests/test_admin_api.py
  tests/test_route_generation.py
  tests/test_tracker.py
Labels: Testing, python, html, documentation

chore: ignore personal local docs
  .gitignore
Labels: none

AI: add prompt
  .github/prompts/santa_route_editor_prompt.md
Labels: GitHub-Action, documentation

lint fixes
  src/app.py
  src/static/script.js
  tests/test_admin_api.py
  tests/test_advent.py
Labels: Testing, python, javascript

refactor: update test assertions for route validation and day content checks
  tests/test_admin_api.py
  tests/test_advent.py
Labels: Testing, python

fix: improve error message formatting for missing/invalid timing information
  src/app.py
Labels: python

fix: update error message for timing information to be more concise
  src/app.py
Labels: python

fix: add input validation and error handling in interpolatePosition function
  src/static/script.js
  tests/test_advent.py
Labels: Testing, python, javascript

Refactor to static timeline model with explicit timestamps and remove hardcoded locations (#67)
  src/app.py
  src/static/script.js
  src/utils/locations.py
  tests/test_admin_api.py
  tests/test_advent.py
  tests/test_locations.py
  tests/test_route_generation.py
Labels: Testing, python, javascript

Update README files to enhance clarity and formatting for project setup and features
  README.md
  tools/route-editor/README.md
Labels: documentation

Add skipcq comments to SearchBar and SortableLocationCard for code quality checks
  tools/route-editor/src/components/MapEditor.jsx
  tools/route-editor/src/components/Sidebar.jsx
Labels: none

Add skipcq comments to SearchBar for code quality checks
  tools/route-editor/src/components/MapEditor.jsx
Labels: none

Add skipcq comments to SearchBar for code quality checks
  tools/route-editor/src/components/MapEditor.jsx
Labels: none

Remove skipcq comment from SearchBar for code quality checks
  tools/route-editor/src/components/MapEditor.jsx
Labels: none

Update tools/route-editor/src/utils/exportUtils.js
  tools/route-editor/src/utils/exportUtils.js
Labels: javascript

Update tools/route-editor/src/components/MapEditor.jsx
  tools/route-editor/src/components/MapEditor.jsx
Labels: none

Refactor SearchBar and SortableLocationCard components for improved code quality and readability
  tools/route-editor/src/components/MapEditor.jsx
  tools/route-editor/src/components/Sidebar.jsx
Labels: none

Fix skipcq comment formatting in SortableLocationCard for consistency
  tools/route-editor/src/components/Sidebar.jsx
Labels: none

Add standalone Santa Route Editor tool for visual route construction (#68)
  .stylelintrc.json
  README.md
  tools/route-editor/.gitignore
  tools/route-editor/README.md
  tools/route-editor/index.html
  tools/route-editor/package.json
  tools/route-editor/postcss.config.js
  tools/route-editor/src/App.jsx
  tools/route-editor/src/components/MapEditor.jsx
  tools/route-editor/src/components/Sidebar.jsx
  tools/route-editor/src/index.css
  tools/route-editor/src/main.jsx
  tools/route-editor/src/utils/exportUtils.js
  tools/route-editor/tailwind.config.js
  tools/route-editor/vite.config.js
Labels: javascript, html, css, documentation

add prompt
  .github/prompts/advent_day_1_prompt.md
Labels: GitHub-Action, documentation

Refactor game state declaration and improve variable naming in drawStar function
  src/advent_activities/day1_ornament_smash/game.js
Labels: javascript

Update src/advent_activities/day1_ornament_smash/game.js
  src/advent_activities/day1_ornament_smash/game.js
Labels: javascript

Update src/advent_activities/README.md
  src/advent_activities/README.md
Labels: documentation

Update src/advent_activities/README.md
  src/advent_activities/README.md
Labels: documentation

Update src/advent_activities/day1_ornament_smash/README.md
  src/advent_activities/day1_ornament_smash/README.md
Labels: documentation

Update README files for Advent Activities and Day 1: Ornament Smash with formatting improvements and additional details
  src/advent_activities/README.md
  src/advent_activities/day1_ornament_smash/README.md
Labels: documentation

Update src/advent_activities/day1_ornament_smash/game.js
  src/advent_activities/day1_ornament_smash/game.js
Labels: javascript

Update src/advent_activities/README.md
  src/advent_activities/README.md
Labels: documentation

Update src/advent_activities/day1_ornament_smash/game.js
  src/advent_activities/day1_ornament_smash/game.js
Labels: javascript

Update src/advent_activities/day1_ornament_smash/game.js
  src/advent_activities/day1_ornament_smash/game.js
Labels: javascript

Update README.md and game.js for performance and cleanup function improvements
  src/advent_activities/day1_ornament_smash/README.md
  src/advent_activities/day1_ornament_smash/game.js
Labels: javascript, documentation

Update src/advent_activities/day1_ornament_smash/game.js
  src/advent_activities/day1_ornament_smash/game.js
Labels: javascript

Update src/advent_activities/day1_ornament_smash/game.js
  src/advent_activities/day1_ornament_smash/game.js
Labels: javascript

Update src/advent_activities/day1_ornament_smash/styles.css
  src/advent_activities/day1_ornament_smash/styles.css
Labels: css

Update src/advent_activities/day1_ornament_smash/styles.css
  src/advent_activities/day1_ornament_smash/styles.css
Labels: css

Update src/advent_activities/day1_ornament_smash/game.js
  src/advent_activities/day1_ornament_smash/game.js
Labels: javascript

Update src/advent_activities/day1_ornament_smash/styles.css
  src/advent_activities/day1_ornament_smash/styles.css
Labels: css

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'
