Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

Update .github/workflows/deploy-on-release.yml
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Fix variable expansion in deployment workflow heredocs (#86)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Enhance deployment script security and clarity (#85)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Update deploy-on-release.yml
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Update .github/workflows/deploy-on-release.yml
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Update deploy-on-release.yml (#87)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Fix EOF marker in deploy-on-release.yml
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Fix EOF marker in deploy-on-release.yml (#88)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Update deploy-on-release.yml
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Update deploy-on-release.yml (#89)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Refactor deployment script for clarity and efficiency
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Refactor deployment script for clarity and efficiency
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Refactor deployment script for clarity and efficiency (#90)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Refactor deployment script for clarity and efficiency
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Refactor deployment script for clarity and efficiency (#91)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Refactor deployment ownership verification logic
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Refactor deployment ownership verification logic (#92)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Refactor deployment script for clarity and efficiency
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Refactor deployment script for clarity and efficiency (#93)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Update deploy-on-release.yml
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Update deploy-on-release.yml (#94)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Refactor deployment script for clarity and safety
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Refactor deployment script for clarity and safety (#95)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Enhance deployment verification diagnostics
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Enhance deployment verification diagnostics (#96)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Refactor deployment script for SSH user context
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Refactor deployment script for SSH user context (#97)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Update deploy-on-release.yml
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Update deploy-on-release.yml (#99)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Add DEPLOY_ENV_FILE to deployment workflow
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Add DEPLOY_ENV_FILE to deployment workflow (#100)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Replace DEPLOY_ENV_FILE with PROD_DOTENV in workflow
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Replace DEPLOY_ENV_FILE with PROD_DOTENV in workflow (#101)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Santa Tracker UI Redesign: Game Menu Style with Fredoka Font (#102)
  src/static/advent-map.css
  src/static/advent-map.js
  src/static/home-styles.css
  src/static/tracker-styles.css
  src/templates/admin.html
  src/templates/advent.html
  src/templates/home.html
  src/templates/tracker.html
Labels: javascript, html, css

Update src/static/script.js
  src/static/script.js
Labels: javascript

Fix Map Style Regression - Switch to CartoDB Dark Matter tiles (#103)
  src/static/script.js
  src/static/tracker-styles.css
Labels: javascript, css

Add .gitattributes to enforce LF line endings and specify binary files
  .gitattributes
Labels: none

Refactor: Initialize santaRoute and streamline DOMContentLoaded event handling
  src/static/script.js
Labels: javascript

Refactor: Simplify Santa position updates with helper functions for event emission and location text generation
  src/static/script.js
Labels: javascript

Fix: Ensure EventSystem emit function returns null when not defined
  src/static/script.js
Labels: javascript

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'
