Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'

fix(history): safely clone prototype keys (#998)
  src/store/cloneJsonValue.test.ts
  src/store/cloneJsonValue.ts
Labels: none

fix(sentry): avoid breadcrumb error data leakage (#999)
  src/instrument.test.ts
  src/instrument.ts
Labels: none

fix(billing): validate Stripe redirect URLs (#1000)
  src/billing/EntitlementProvider.test.tsx
  src/billing/EntitlementProvider.tsx
Labels: none

fix(ci): pin workflow actions and add owners (#1001)
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .github/workflows/opencode.yml
  .github/workflows/pr-ci-label.yml
  .github/workflows/pr-governance.yml
  .github/workflows/release-stable.yml
Labels: GitHub-Action

fix(nginx): preserve security headers on assets (#1002)
  scripts/setup-vps.sh
  server/gfc-security-headers.conf
  server/nginx-security-headers.test.js
  server/nginx-staging.conf
  server/nginx.conf
  server/package.json
Labels: javascript

chore(deps): remove unused xml2js packages (#1003)
  THIRD_PARTY_NOTICES.md
  package.json
  pnpm-lock.yaml
Labels: dependencies, documentation

fix(downloads): defer blob URL revocation (#1004)
  src/utils/discussionUtils.extra.test.ts
  src/utils/discussionUtils.ts
  src/utils/fileUtils.extra.test.ts
  src/utils/fileUtils.ts
Labels: none

chore(deps): remove unused turf packages (#1005)
  THIRD_PARTY_NOTICES.md
  package.json
  pnpm-lock.yaml
Labels: dependencies, documentation

fix(outlook): use total severe thresholds (#1006)
  src/utils/outlookUtils.extra.test.ts
  src/utils/outlookUtils.ts
Labels: none

fix(auth): clean up late settings listeners (#1007)
  src/auth/AuthProvider.test.tsx
  src/auth/AuthProvider.tsx
Labels: none

fix(store): guard unknown outlook day selectors (#1008)
  src/store/forecastSlice.test.ts
  src/store/forecastSlice.ts
Labels: none

perf(auto-categorical): avoid geometry serialization in signatures (#1009)
  src/hooks/__tests__/useAutoCategorical.test.ts
  src/hooks/useAutoCategorical.ts
Labels: none

fix(custom-layers): share plain-value clone for reducer payloads (#1010)
  src/store/cloneJsonValue.ts
  src/store/customLayerReducerUtils.test.ts
  src/store/customLayerReducerUtils.ts
Labels: none

fix(config): validate capability status entries (#1011)
  src/config/serverCapabilityStatus.test.tsx
  src/config/serverCapabilityStatus.ts
Labels: none

fix(config): retry transient capability status failures (#1012)
  src/config/serverCapabilityStatus.test.tsx
  src/config/serverCapabilityStatus.ts
Labels: none

perf(monitor): bound active alert snapshots (#1013)
  src/monitor/nwsAlerts.test.ts
  src/monitor/nwsAlerts.ts
  src/monitor/useMonitorNwsAlertsLoad.ts
  src/monitor/useMonitorNwsAlertsRefresh.ts
Labels: none

perf(cloud): avoid duplicate cycle list reads (#1014)
  src/lib/cloudCyclesService.custom.test.ts
  src/lib/cloudCyclesService.ts
Labels: none

fix(import): validate copied forecast files (#1015)
  src/components/CycleManager/CopyFromPreviousModal.tsx
  src/components/CycleManager/CycleManager.test.tsx
Labels: none

fix(cloud): bound cycle metadata writes (#1017)
  server/cloud-cycle-metadata.js
  server/cloud-cycles.js
  server/cloud-cycles.test.js
Labels: javascript

fix(analytics): bound sentry tunnel upstream requests (#1016)
  server/package.json
  server/sentry-tunnel.js
  server/sentry-tunnel.test.js
Labels: javascript

perf(map): avoid serializing custom styles (#1020)
  src/components/Map/OpenLayersForecastMap.test.ts
  src/components/Map/OpenLayersForecastMap.tsx
Labels: none

perf: prefilter verification neighborhood geometry (#1021)
  src/utils/verificationV2/neighborhood.test.ts
  src/utils/verificationV2/neighborhood.ts
Labels: none

perf: throttle monitor map pointer hit tests (#1022)
  src/monitor/components/useMonitorMapBootstrap.ts
Labels: none

perf: lazy load export canvas library (#1024)
  src/utils/exportUtils.ts
Labels: none

perf: skip unchanged monitor overlay reconciliation (#1025)
  src/monitor/components/monitorMapFeatureSync.test.ts
  src/monitor/components/monitorMapFeatureSync.ts
  src/monitor/useMonitorNwsAlerts.ts
Labels: none

perf: batch monitor playback state updates (#1026)
  src/monitor/useLiveWmsLayers.ts
  src/monitor/useWmsPlaybackLoop.ts
Labels: none

refactor: share forecast import pipeline (#1028)
  src/components/VerificationMode/VerificationMode.test.tsx
  src/components/VerificationMode/VerificationMode.tsx
  src/pages/ForecastPage.test.tsx
  src/pages/forecastPageController.ts
Labels: none

perf: reuse immutable forecast history clones (#1030)
  src/performance/forecastClone.perf.test.ts
  src/store/forecastSlice.test.ts
  src/store/forecastSlice.ts
Labels: none

perf: cache bounded admin account counts (#1027)
  server/metrics.js
  server/metrics.test.js
Labels: javascript

perf: keep categorical Turf processing in worker path (#1023)
  src/hooks/__tests__/useAutoCategorical.test.ts
  src/hooks/autoCategoricalProcessing.ts
  src/hooks/categoricalBundleBoundary.test.ts
  src/hooks/categoricalErrors.ts
  src/hooks/categoricalWorker.ts
  src/hooks/useAutoCategorical.ts
  src/pages/VerificationPage.tsx
  src/store/forecastSlice.custom.test.ts
Labels: none

fix(cloud): keep legacy reads side effect free (#1019)
  src/lib/cloudCyclesService.custom.test.ts
  src/lib/cloudCyclesService.ts
Labels: none

fix(history): cap saved forecast cycles (#1018)
  src/pages/AccountPage.tsx
  src/pages/home/useHomePageLogic.ts
  src/pages/homeUtils.test.ts
  src/pages/homeUtils.ts
  src/store/forecastSlice.test.ts
  src/store/forecastSlice.ts
  src/utils/cycleHistoryPersistence.extra.test.ts
  src/utils/cycleHistoryPersistence.ts
Labels: none

perf: prefilter verification report polygons (#1029)
  src/utils/verificationUtils.extra.test.ts
  src/utils/verificationUtils.ts
Labels: none

perf: avoid cloud serialization when sync is disabled (#1031)
  src/hooks/useCloudSync.test.ts
  src/hooks/useCloudSync.ts
Labels: none

[DeepSource audit][JS-0116] Remove async functions without await (#1048)
  scripts/generate-stale-branch-report.mjs
  scripts/lib/pr-exposure-comment.mjs
  scripts/lib/stale-branch-github.mjs
  server/account-lifecycle.js
  server/billing-cleanup.js
  server/billing-webhook-state.js
  server/billing.js
  src/lib/localCustomProductsRepository.ts
  src/testing/autoTstmTestHarness.tsx
Labels: javascript

[DeepSource audit][JS-0339] Remove verification selector non-null assertion (#1049)
  src/store/verificationSlice.ts
Labels: none

[DeepSource audit][JS-W1042] Remove redundant undefined assertion arguments (#1051)
  scripts/lib/feature-exposure-diagnostics.test.mjs
Labels: none

[DeepSource audit][JS-W1044] Use optional chaining for analytics timestamps (#1052)
  server/view-analytics.js
Labels: javascript

[DeepSource audit][JS-R1004] Use a regular string for static changelog fixture (#1053)
  scripts/lib/changelog.test.mjs
  src/utils/stormReportTodayCsv.ts
  src/utils/verificationUtils.ts
Labels: none

[DeepSource audit][JS-0331] Remove redundant type annotations (#1050)
  src/components/DiscussionEditor/DIYDiscussionEditor.tsx
  src/hooks/autoCategoricalProcessing.ts
Labels: none
