Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

Fix: Update EventSystem emit function to prevent null return when not defined
  src/static/script.js
Labels: javascript

Implement "Pre-Flight" vs "Live" Modes for Tracker Page (#104)
  .gitattributes
  src/static/script.js
  src/static/tracker-styles.css
  src/templates/tracker.html
Labels: javascript, html, css

Polish Pre-Flight UI: Fix horizontal scroll, weather jitter, dark glass styling, and seamless map background (#105)
  src/static/script.js
  src/static/styles.css
  src/static/tracker-styles.css
Labels: javascript, css

Fix environment variable loading in Flask app using absolute path (#106)
  .deepsource.toml
  src/app.py
  tests/test_env_loading.py
Labels: Testing, python

Add verbose logging to admin authentication for multi-worker debugging (#107)
  src/app.py
  tests/test_admin_api.py
Labels: Testing, python

Fix Gunicorn Session/Auth Failure with Stateless Signed Tokens (#108)
  src/app.py
  tests/test_admin_api.py
Labels: Testing, python

Potential fix for code scanning alert no. 29: Workflow does not contain permissions
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Potential fix for code scanning alert no. 29: Workflow does not contain permissions (#109)
  .github/workflows/deploy-on-release.yml
Labels: GitHub-Action

Fix "Cannot read properties of undefined (reading 'length')" in Route Simulator (#110)
  src/templates/route_simulator.html
Labels: html

Fix 400 Bad Request on Trial Route Upload (#111)
  .gitignore
  src/templates/admin.html
Labels: html

Fix route simulator API response key mismatch (#112)
  src/app.py
  tests/test_admin_api.py
Labels: Testing, python

cleanup unused files
  Route Data/Databases/countries.sqlite3
  Route Data/Databases/regions.sqlite3
  Route Data/Databases/states.sqlite3
  Route Data/Databases/subregions.sqlite3
  Route Data/scripts/map_viz.py
  Route Data/scripts/phase1.py
  Route Data/scripts/phase2.py
  config.py
Labels: python

add trial route for UTC+14
  Route Data/Location Lists/Trial Routes/11-27 +14 Trial Route 1.json
Labels: none

Update tests/test_advent_admin_api.py
  tests/test_advent_admin_api.py
Labels: Testing, python

Add ADVENT_ENABLED feature flag to gate advent calendar UI and routes (#129)
  .env.example
  README.md
  config.py
  docs/CONFIGURATION.md
  src/app.py
  src/templates/home.html
  src/templates/tracker.html
  tests/test_advent_admin_api.py
  tests/test_advent_api.py
Labels: Testing, python, html, documentation

Update Route Data/Location Lists/Trial Routes/11-27 +14 Trial Route 1.json
  Route Data/Location Lists/Trial Routes/11-27 +14 Trial Route 1.json
Labels: none

Update Route Data/Location Lists/Trial Routes/11-27 +14 Trial Route 1.json
  Route Data/Location Lists/Trial Routes/11-27 +14 Trial Route 1.json
Labels: none

feat: add configuration settings for application including secret key, debug mode, API key, and database URI
  config.py
Labels: python

Cleanup1 (#133)
  Route Data/Databases/countries.sqlite3
  Route Data/Databases/regions.sqlite3
  Route Data/Databases/states.sqlite3
  Route Data/Databases/subregions.sqlite3
  Route Data/Location Lists/Trial Routes/11-27 +14 Trial Route 1.json
  Route Data/scripts/map_viz.py
  Route Data/scripts/phase1.py
  Route Data/scripts/phase2.py
Labels: python

Simplify object property assignment in SearchBar component
  tools/route-editor/src/components/MapEditor.jsx
Labels: none

Fix JS-0417: Extract SearchResultItem component to avoid inline functions in JSX props (#135)
  tools/route-editor/src/components/MapEditor.jsx
Labels: none

Add package-lock.json files and CI lockfile validation (#136)
  .github/workflows/linting.yml
  .gitignore
  package-lock.json
  tools/route-editor/.gitignore
  tools/route-editor/package-lock.json
Labels: GitHub-Action, dependencies

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

Add coverage collection and coverage badge; target missing tests (#138)
  .github/workflows/testing.yml
  README.md
  tests/test_locations.py
Labels: Testing, GitHub-Action, python, documentation

Add CONTRIBUTING.md with developer setup and docs (#137)
  CONTRIBUTING.md
Labels: documentation

Refactor Tracker API for defensive behavior and typing (#142)
  src/utils/tracker.py
  tests/test_tracker.py
Labels: Testing, python

Update sw.js
  sw.js
Labels: javascript

Update offline.html
  offline.html
Labels: html

Improve service worker fallback behavior and caching policy (#141)
  offline.html
  sw.js
Labels: javascript, html

Replace prints with structured logging across the codebase (#143)
  .env.example
  .github/workflows/linting.yml
  CONTRIBUTING.md
  config.py
  docs/CONFIGURATION.md
  src/logging_config.py
  src/utils/locations.py
  tests/test_logging.py
Labels: Testing, GitHub-Action, python, documentation

Harden error handling: replace broad excepts with specific exceptions (#140)
  src/app.py
  tests/test_error_handling.py
Labels: Testing, python

Add support for "ready for review" label in PR workflow
  .github/workflows/label-trigger.yml
Labels: GitHub-Action

Fix route simulator map visibility (#144)
  src/templates/route_simulator.html
Labels: html

Update src/templates/route_simulator.html
  src/templates/route_simulator.html
Labels: html

Enhance Santa travel animation with smoother flyTo and update handling
  src/templates/route_simulator.html
Labels: html

Refactor code structure for improved readability and maintainability
  src/app.py
  src/static/data/santa_route.json
  src/templates/route_simulator.html
  src/templates/route_simulator_v2.html
Labels: python, html

Fix Santa travel logic and auto-zoom in route simulator (#145)
  src/app.py
  src/static/data/santa_route.json
  src/templates/route_simulator.html
  src/templates/route_simulator_v2.html
Labels: python, html

Add cinematic logic specification and route editor status calculation logic
  docs/cinematic_logic_spec.md
  docs/editor_algorithm_logic.md
  docs/route_data_schema.json
Labels: documentation

Refactor map initialization for improved clarity and functionality
  src/templates/route_simulator_v2.html
Labels: html

Complete Rework of Route Editor
  tools/route-editor/package-lock.json
  tools/route-editor/package.json
  tools/route-editor/src/App.jsx
  tools/route-editor/src/components/MapEditor.jsx
  tools/route-editor/src/components/RouteSimulator.jsx
  tools/route-editor/src/components/Sidebar.jsx
  tools/route-editor/src/index.css
  tools/route-editor/src/main.jsx
  tools/route-editor/src/pages/SimulatorPage.jsx
  tools/route-editor/src/types.ts
  tools/route-editor/src/utils/cinematicLogic.js
  tools/route-editor/src/utils/exportUtils.js
  tools/route-editor/src/utils/routeCalculations.js
Labels: javascript, css

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'
