Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'

refactor: simplify reference property normalization
  src/monitor/referenceLayers.ts
Labels: none

fix: address Monitor adapter review feedback
  src/monitor/components/MonitorControls.test.tsx
  src/monitor/components/MonitorReferenceLayersSection.tsx
  src/monitor/components/monitorMapFeatureSync.test.ts
  src/monitor/components/useMonitorMapBootstrap.ts
  src/monitor/components/useMonitorReferenceWmsSync.ts
  src/monitor/components/useMonitorWmsThemeSync.test.ts
  src/monitor/referenceLayers.test.ts
  src/monitor/referenceLayers.ts
  src/monitor/useMonitorReferenceLayers.test.ts
  src/monitor/useMonitorReferenceLayers.ts
  src/pages/MonitorPage.tsx
Labels: none

docs: record Monitor hardening beta changelog
  CHANGELOG.md
Labels: documentation

refactor: keep Monitor references to SPC MCDs
  CHANGELOG.md
  docs/operations/monitor-reference-sources.md
  src/instrument.ts
  src/monitor/components/MonitorControls.test.tsx
  src/monitor/components/MonitorControls.tsx
  src/monitor/components/MonitorMap.tsx
  src/monitor/components/MonitorReferenceLayersSection.tsx
  src/monitor/components/monitorMapLayerUtils.test.ts
  src/monitor/components/monitorMapLayerUtils.ts
  src/monitor/components/monitorMapRefs.ts
  src/monitor/components/useMonitorMapBootstrap.ts
  src/monitor/components/useMonitorMapLayerSync.ts
  src/monitor/components/useMonitorMapWmsSync.ts
  src/monitor/components/useMonitorOlMap.ts
  src/monitor/components/useMonitorReferenceWmsSync.ts
  src/monitor/monitorSettingsNormalize.ts
  src/monitor/referenceLayers.test.ts
  src/monitor/referenceLayers.ts
  src/monitor/types.ts
  src/monitor/useMonitorReferenceLayers.ts
  src/pages/MonitorPage.tsx
Labels: documentation

fix: harden Monitor reference layers (#501)
  src/instrument.test.ts
  src/instrument.ts
  src/monitor/components/MonitorMap.tsx
  src/monitor/components/MonitorReferenceLayersSection.tsx
  src/monitor/components/monitorMapLayerUtils.test.ts
  src/monitor/components/monitorMapLayerUtils.ts
  src/monitor/referenceLayers.test.ts
  src/monitor/referenceLayers.ts
  src/monitor/useMonitorReferenceLayers.ts
  src/pages/MonitorPage.css
  src/pages/MonitorPage.tsx
Labels: css

test: align reference tests with MCD-only scope
  src/monitor/components/useMonitorWmsThemeSync.test.ts
  src/monitor/useMonitorReferenceLayers.test.ts
Labels: none

fix: address Monitor hardening review feedback
  src/instrument.test.ts
  src/instrument.ts
  src/monitor/components/useMonitorMapBootstrap.ts
  src/monitor/referenceLayers.test.ts
  src/monitor/referenceLayers.ts
  src/pages/MonitorPage.test.tsx
  src/pages/MonitorPage.tsx
Labels: none

refactor: simplify monitor attribution state handling
  src/pages/MonitorPage.tsx
Labels: none

test: keep tornado legend checks lint clean
  src/components/Map/Legend.tsx
Labels: none

test: enable report legend color coverage
  src/components/Map/Legend.test.tsx
Labels: none

fix: restore red tornado report legend
  src/components/Map/Legend.test.tsx
  src/components/Map/Legend.tsx
Labels: none

fix: address tornado legend review feedback
  src/components/Map/Legend.test.tsx
  src/components/Map/Legend.tsx
  src/components/Map/OpenLayersVerificationMap.tsx
  src/monitor/stormReportMapStyle.ts
  src/utils/stormReportColors.ts
Labels: none

fix: prevent draw mode toolbar overlap
  src/components/IntegratedToolbar/IntegratedToolbar.css
  src/components/IntegratedToolbar/IntegratedToolbar.tsx
Labels: css

fix: address toolbar review feedback
  e2e/custom-layers.spec.ts
  src/components/IntegratedToolbar/IntegratedToolbar.css
  src/components/IntegratedToolbar/IntegratedToolbar.tsx
Labels: css

docs(rel-01): add v1.7 exposure matrix
  docs/README.md
  docs/operations/v1.7-exposure-matrix.md
Labels: documentation

refactor(rel-01): simplify exposure matrix validator
  scripts/lib/feature-exposure-matrix-document.mjs
  scripts/validate-feature-exposure.mjs
Labels: none

docs(rel-01): validate exposure matrix documentation
  docs/operations/v1.7-exposure-matrix.md
  scripts/lib/feature-exposure-matrix-document.mjs
  scripts/lib/feature-exposure-matrix-document.test.mjs
  scripts/validate-feature-exposure.mjs
Labels: documentation

docs(rel-02): address acceptance matrix review
  docs/operations/v1.7-acceptance-matrix.md
Labels: documentation

docs(rel-02): add v1.7 acceptance matrix
  docs/README.md
  docs/operations/v1.7-acceptance-matrix.md
Labels: documentation

docs(rel-03): complete v1.7 release support docs
  CHANGELOG.md
  docs/README.md
  docs/operations/v1.7-support-and-privacy.md
  docs/releases/v1.7.0.md
  src/App.updates-route.test.tsx
  src/content/README.md
  src/content/updates/v1.7.ts
  src/pages/UpdatesPage.test.tsx
  src/pages/UpdatesPage.tsx
Labels: documentation

docs(rel-03): address release support review
  CHANGELOG.md
  src/content/README.md
  src/content/updates/types.ts
  src/content/updates/v1.6.ts
  src/content/updates/v1.7.ts
  src/pages/UpdatesPage.lightbox.test.tsx
  src/pages/UpdatesPage.tsx
Labels: documentation

docs(rel-04): add v1.7 release candidate runbook
  .github/workflows/bootstrap-stable-release.yml
  docs/README.md
  docs/operations/release-workflow.md
  docs/operations/v1.7-release-candidate.md
Labels: GitHub-Action, documentation

docs(rel-04): document stack gate inspection
  docs/operations/v1.7-release-candidate.md
Labels: documentation

docs(rel-04): verify live stack topology before merge
  docs/operations/v1.7-release-candidate.md
Labels: documentation

docs(rel-04): record v1.7 release candidate lane
  CHANGELOG.md
Labels: documentation

chore(deps): apply safe v1.7 updates
  CHANGELOG.md
  THIRD_PARTY_NOTICES.md
  package.json
  pnpm-lock.yaml
Labels: dependencies, documentation

fix: upgrade babel core for dependabot alert 61
  package-lock.json
  package.json
Labels: dependencies

fix(deploy): verify Sentry artifact bundles
  scripts/lib/sentry-sourcemap-verification.mjs
  scripts/lib/sentry-sourcemap-verification.test.mjs
  scripts/verify-sentry-sourcemaps.mjs
Labels: none

fix(deploy): remove unused verification import
  scripts/verify-sentry-sourcemaps.mjs
Labels: none

refactor(deploy): simplify Sentry verification flow
  scripts/lib/sentry-sourcemap-verification.mjs
  scripts/verify-sentry-sourcemaps.mjs
Labels: none

refactor(deploy): simplify artifact bundle parsing
  scripts/lib/sentry-sourcemap-verification.mjs
Labels: none

refactor(deploy): simplify artifact pagination guard
  scripts/lib/sentry-sourcemap-verification.mjs
Labels: none

refactor(deploy): isolate artifact bundle verification
  scripts/lib/sentry-artifact-bundle-verification.mjs
  scripts/lib/sentry-sourcemap-verification.mjs
  scripts/lib/sentry-sourcemap-verification.test.mjs
  scripts/verify-sentry-sourcemaps.mjs
Labels: none

fix(deploy): remove duplicate artifact import
  scripts/verify-sentry-sourcemaps.mjs
Labels: none

fix: complete v1.7 release exposure
  deploy/production-deployment-config.json
  deploy/staging-deployment-config.json
  docs/custom-products.md
  docs/operations/auto-tstm-operations.md
  docs/operations/feature-exposure-workstreams.md
  docs/operations/v1.7-exposure-matrix.md
  e2e/auto-tstm.spec.ts
  e2e/custom-layers.spec.ts
  e2e/custom-products.spec.ts
  scripts/lib/feature-exposure-matrix-document.test.mjs
  scripts/lib/feature-exposure-policy-contract.mjs
  scripts/lib/feature-exposure-policy.mjs
  server/lib/serverFeatureExposure.js
  server/testing/autoTstm.exposure.test.js
  src/components/IntegratedToolbar/IntegratedToolbar.test.tsx
  src/components/IntegratedToolbar/IntegratedToolbar.tsx
  src/config/featureExposure.acknowledgements.json
  src/config/featureExposure.test.ts
  src/config/featureExposure.ts
  src/config/v17WorkstreamAdoption.exposure.test.ts
  src/content/updates/v1.7.ts
  src/darkMode.css
  src/pages/verificationRelaunch.exposure.test.tsx
  src/routing/buildFeatureGatedRoutes.test.tsx
Labels: javascript, css, documentation

docs: record v1.7 release exposure
  CHANGELOG.md
Labels: documentation

test: update exposure diagnostics for v1.7
  src/config/featureExposureDiagnostics.test.ts
Labels: none

test: align server tstm target expectations
  server/tstm.test.js
Labels: javascript

refactor: simplify production exposure safety
  scripts/lib/feature-exposure-policy.mjs
  scripts/lib/feature-exposure-production-safety.mjs
Labels: none

fix: restore workflow review and tropical colors
  CHANGELOG.md
  src/components/ForecastWorkflow/ForecastWorkflowPanel.test.tsx
  src/components/ForecastWorkflow/ForecastWorkflowPanel.tsx
  src/lib/customStylePresets.test.ts
  src/lib/customStylePresets.ts
  src/store/forecastSlice.test.ts
  src/store/forecastSlice.ts
Labels: documentation
