Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'

feat(ver2): keep categorical as map-only display layer
  src/components/ForecastGrade/DataQualityPanel.tsx
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
  src/components/ForecastGrade/ForecastGradeMapControls.tsx
  src/components/ForecastGrade/ForecastGradeMapPane.tsx
  src/components/ForecastGrade/useForecastGrade.ts
Labels: none

fix(ver2): relax map pane ref and day types
  src/components/ForecastGrade/ForecastGradeMapPane.tsx
Labels: none

chore: add beta changelog entry for PR #776
  CHANGELOG.beta.md
Labels: documentation

fix(ver2): simplify shell map pane for 06c verification map API
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
  src/components/ForecastGrade/ForecastGradeMapPane.tsx
Labels: none

fix(ver2): restore forecast grade hook guards on top of 06c shell
  src/components/ForecastGrade/useForecastGrade.ts
Labels: none

chore: expand beta changelog entry for PR #776
  CHANGELOG.beta.md
Labels: documentation

fix beta Auto-TSTM Python runtime
  deploy/beta-deployment-config.json
  scripts/lib/deployment-config.test.mjs
  server/tstm.test.js
Labels: javascript

docs: add beta changelog entry for Auto-TSTM fix
  CHANGELOG.beta.md
Labels: documentation

fix(ver2): address CodeRabbit + Greptile review feedback on 06c
  src/components/ForecastGrade/ForecastGradeDashboard.css
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
  src/components/ForecastGrade/useForecastGrade.test.tsx
  src/components/ForecastGrade/useForecastGrade.ts
Labels: css

fix(ver2): split ForecastGradeDashboard JSX to satisfy CodeScene
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
Labels: none

ver2(07): result workspace on hazard-only grading base
  src/components/ForecastGrade/CloudSourcePicker.tsx
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
  src/components/ForecastGrade/ForecastGradeMapPane.tsx
  src/components/ForecastGrade/ForecastGradeResultsPane.tsx
  src/components/ForecastGrade/GradeTrendChart.tsx
  src/components/ForecastGrade/GradeTrendHistory.tsx
  src/components/ForecastGrade/GradeTrendSvg.tsx
  src/components/ForecastGrade/ReportTable.tsx
  src/components/ForecastGrade/ScoreBreakdown.tsx
Labels: none

chore: add beta changelog entry for PR #777
  CHANGELOG.beta.md
Labels: documentation

fix(ver2): resolve type errors after rebase onto beta
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
  src/components/ForecastGrade/ForecastGradeMapPane.tsx
  src/components/ForecastGrade/ScoreBreakdown.tsx
Labels: none

fix: balance map toolbar divider spacing
  e2e/smoke.spec.ts
  src/components/Map/ForecastMap.css
  src/components/Map/OpenLayersForecastMap.tsx
Labels: css

feat: add map toolbar undo and redo controls
  e2e/custom-layers.spec.ts
  e2e/smoke.spec.ts
  e2e/testSetup.ts
  src/components/Map/ForecastMap.css
  src/components/Map/OpenLayersForecastMap.tsx
Labels: css

docs: add beta changelog entry for map history controls
  CHANGELOG.beta.md
Labels: documentation

test Auto-TSTM interpreter selection deterministically
  server/tstm.test.js
Labels: javascript

fix(ver2): extract cloud load handler to satisfy CodeScene line budget
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
  src/components/ForecastGrade/useCloudLoadHandler.ts
Labels: none

fix(ver2): address open review comments on PR 07
  src/components/ForecastGrade/CloudSourcePicker.tsx
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
  src/components/ForecastGrade/ForecastGradeResultsPane.tsx
  src/components/ForecastGrade/GradeTrendChart.tsx
  src/components/ForecastGrade/GradeTrendHistory.tsx
  src/components/ForecastGrade/ScoreBreakdown.tsx
  src/components/ForecastGrade/useCloudLoadHandler.ts
Labels: none

ver2(08a): share card on hazard-only grading base
  src/components/ForecastGrade/ShareCard.tsx
  src/components/ForecastGrade/shareCard.test.ts
  src/components/ForecastGrade/shareCard.ts
  src/components/ForecastGrade/useCaptureGradeMap.ts
  src/components/ForecastGrade/useShareCardActions.ts
Labels: none

chore: add beta changelog entry for PR #778
  CHANGELOG.beta.md
Labels: documentation

fix: tighten map toolbar review coverage
  e2e/smoke.spec.ts
  src/components/Map/ForecastMap.css
Labels: css

refactor: simplify map toolbar assertion
  e2e/smoke.spec.ts
Labels: none

fix(ver2): address CodeRabbit review on share card PR 778
  CHANGELOG.beta.md
  src/components/ForecastGrade/shareCard.test.ts
  src/components/ForecastGrade/shareCard.ts
  src/components/ForecastGrade/useShareCardActions.test.ts
Labels: documentation

fix(ver2): split functions to satisfy CodeScene line budget
  src/components/ForecastGrade/shareCard.ts
  src/components/ForecastGrade/useShareCardActions.ts
Labels: none

fix(ver2): reduce CodeScene complexity in share card
  src/components/ForecastGrade/useShareCardActions.test.ts
  src/components/ForecastGrade/useShareCardActions.ts
Labels: none

fix(ver2): consolidate error handling to reduce CodeScene complexity
  src/components/ForecastGrade/useShareCardActions.test.ts
  src/components/ForecastGrade/useShareCardActions.ts
Labels: none

fix(ver2): extract callback bodies to reduce hook complexity
  src/components/ForecastGrade/useShareCardActions.ts
Labels: none

fix(ver2): address CodeRabbit test review comments
  src/components/ForecastGrade/useShareCardActions.test.ts
Labels: none

enable verification page on beta
  CHANGELOG.beta.md
  src/config/featureExposure.acknowledgements.json
  src/config/featureExposure.test.ts
  src/config/featureExposure.ts
  src/config/v17WorkstreamAdoption.exposure.test.ts
  src/pages/verificationRelaunch.exposure.test.tsx
Labels: documentation

docs: refresh agent project context
  AGENTS.md
Labels: documentation

docs: add beta changelog entry
  CHANGELOG.beta.md
Labels: documentation

docs: refine agent project context
  AGENTS.md
Labels: documentation

docs: document premium model context
  AGENTS.md
Labels: documentation

Revamp Forecast Grade verification workspace
  src/components/ForecastGrade/ForecastGradeDashboard.css
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
  src/components/ForecastGrade/ForecastGradeMapPane.tsx
  src/components/ForecastGrade/SourcePanel.tsx
  src/components/ForecastGrade/sourcePanelParts.tsx
  src/components/ForecastGrade/useForecastGrade.test.tsx
  src/components/ForecastGrade/useForecastGrade.ts
Labels: css

docs: add verification v2 beta changelog entry
  CHANGELOG.beta.md
Labels: documentation

fix(verification): address CodeRabbit foundation feedback
  CHANGELOG.beta.md
  src/components/ForecastGrade/ForecastGradeDashboard.css
  src/components/ForecastGrade/sourcePanelParts.tsx
  src/components/ForecastGrade/useForecastGrade.test.tsx
  src/components/ForecastGrade/useForecastGrade.ts
Labels: css, documentation

Restyle Forecast Grade as an analysis deck
  src/components/ForecastGrade/ForecastGradeDashboard.css
  src/components/ForecastGrade/ForecastGradeMapPane.tsx
  src/components/ForecastGrade/SourcePanel.tsx
  src/components/ForecastGrade/sourcePanelParts.tsx
Labels: css

Align verification workspace with reference layout
  src/components/ForecastGrade/ForecastGradeDashboard.css
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
  src/components/ForecastGrade/ForecastGradeMapPane.tsx
  src/components/ForecastGrade/ForecastGradeResultsPane.tsx
Labels: css

refactor(verification): split dashboard orchestration
  src/components/ForecastGrade/ForecastGradeDashboard.tsx
  src/components/ForecastGrade/ForecastGradeWorkspace.tsx
  src/components/ForecastGrade/useForecastGradeDashboardActions.ts
Labels: none
