Repository WxboySuper/Santa_Tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: Testing, GitHub-Action, python, javascript, html, css, dependencies, documentation

Add Santa's route details and enhance styling for better layout and responsiveness
  santa_route.txt
  src/static/data/santa_route.json
  src/static/styles.css
Labels: css

Rename index.html to src/templates/index.html, update header title and add festive message, modify styles for improved aesthetics, and remove unused generate_static.py script.
  src/generate_static.py
  src/static/script.js
  src/static/styles.css
  src/templates/index.html
Labels: python, javascript, html, css

Update static.yml
  .github/workflows/static.yml
Labels: GitHub-Action

Add GitHub templates and modernize README (#37)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/pull_request_template.md
  README.md
Labels: GitHub-Action, documentation

Delete .github/workflows/static.yml
  .github/workflows/static.yml
Labels: GitHub-Action

Add comprehensive linting infrastructure and fix Flask security vulnerability (#38)
  .eslintrc.json
  .flake8
  .github/workflows/linting.yml
  .htmlhintrc
  .stylelintrc.json
  README.md
  config.py
  index.html
  package.json
  pyproject.toml
  requirements-dev.txt
  src/app.py
  src/generate_static.py
  src/index.html
  src/static/styles.css
  src/templates/offline.html
  src/utils/__init__.py
  src/utils/locations.py
  src/utils/tracker.py
Labels: GitHub-Action, python, html, css, dependencies, documentation

Update src/static/sw-register.js
  src/static/sw-register.js
Labels: javascript

Move inline service worker registration to external file (#39)
  index.html
  src/static/sw-register.js
Labels: javascript, html

Update .github/workflows/testing.yml
  .github/workflows/testing.yml
Labels: GitHub-Action

Simplify testing workflow and migrate from unittest to pytest (#42)
  .github/workflows/testing.yml
  .gitignore
  pyproject.toml
  requirements.txt
Labels: GitHub-Action, python, dependencies

Update src/utils/locations.py
  src/utils/locations.py
Labels: python

Implement canonical Location data model with UTC offsets (Issue #29) (#41)
  src/static/data/santa_route.json
  src/utils/locations.py
  tests/__init__.py
  tests/test_locations.py
Labels: Testing, python

Update tests/test_locations.py
  tests/test_locations.py
Labels: Testing, python

Update tests/test_locations.py
  tests/test_locations.py
Labels: Testing, python

Extend Location dataclass with scheduling and metadata fields (#49)
  src/static/data/santa_route.json
  src/utils/locations.py
  tests/test_locations.py
Labels: Testing, python

Add Advent Calendar Core Engine with server-authoritative unlock logic (#50)
  docs/ADVENT_CALENDAR_API.md
  src/app.py
  src/static/data/advent_calendar.json
  src/utils/advent.py
  tests/test_advent.py
  tests/test_advent_api.py
Labels: Testing, python, documentation

Update tests/test_admin_api.py
  tests/test_admin_api.py
Labels: Testing, python

Update src/app.py
  src/app.py
Labels: python

Update src/templates/admin.html
  src/templates/admin.html
Labels: html

Update src/app.py
  src/app.py
Labels: python

Potential fix for code scanning alert no. 14: Clear text storage of sensitive information
  src/templates/admin.html
Labels: html

Potential fix for code scanning alert no. 15: Reflected server-side cross-site scripting
  src/app.py
Labels: python

Add admin UI for location management with validation, bulk import, and comprehensive security hardening (Issue #29) (#52)
  src/app.py
  src/static/data/santa_route.json
  src/templates/admin.html
  src/utils/locations.py
  tests/test_admin_api.py
Labels: Testing, python, html

Update src/app.py
  src/app.py
Labels: python

Update src/templates/admin.html
  src/templates/admin.html
Labels: html

Update README.md
  README.md
Labels: documentation

Implement festive UI with custom CSS, landing page, and vibrant Christmas design (#57)
  .htmlhintignore
  README.md
  home.html
  package.json
  src/app.py
  src/index.html
  src/static/home-script.js
  src/static/home-styles.css
  src/static/script.js
  src/static/styles.css
  src/static/tracker-styles.css
  src/templates/base.html
  src/templates/home.html
  src/templates/index.html
  src/templates/tracker.html
Labels: python, javascript, html, css, dependencies, documentation

Add route precomputation, status display, backup/export, and secure authentication to admin dashboard (#54)
  README.md
  src/app.py
  src/static/data/santa_route.json
  src/templates/admin.html
  tests/test_admin_api.py
Labels: Testing, python, html, documentation

data part 1
  countries.sqlite3
  instance/.gitignore
  phase1_anchors.json
  regions.sqlite3
  scripts/phase1.py
  states.sqlite3
  subregions.sqlite3
Labels: python

Refactor string formatting in phase1.py for consistency
  scripts/phase1.py
Labels: python

Update development dependencies and refactor phase1.py for consistency
  cities.sqlite3-shm
  cities.sqlite3-wal
  countries.sqlite3-shm
  countries.sqlite3-wal
  phase1_anchors.json
  requirements-dev.txt
  scripts/phase1.py
Labels: python

Add interactive randomized grid Advent Calendar with cohesive UI design (#58)
  scripts/phase1.py
  src/app.py
  src/static/advent-map.css
  src/static/advent-map.js
  src/static/home-styles.css
  src/templates/advent.html
  src/templates/home.html
Labels: python, javascript, html, css

Implement countdown timer for Santa's Christmas tour launch (#61)
  README.md
  src/static/countdown.js
  src/static/home-script.js
  src/static/script.js
  src/templates/home.html
  src/templates/tracker.html
Labels: javascript, html, documentation

Potential fix for code scanning alert no. 17: Information exposure through an exception
  src/app.py
Labels: python

Potential fix for code scanning alert no. 16: Information exposure through an exception
  src/app.py
Labels: python

Potential fix for code scanning alert no. 18: Information exposure through an exception
  src/app.py
Labels: python

Add Advent Calendar Admin UI for Daily Content Management (#62)
  src/app.py
  src/static/data/advent_calendar.json
  src/templates/admin.html
  src/utils/advent.py
  tests/test_advent_admin_api.py
Labels: Testing, python, html

Update docs/API.md
  docs/API.md
Labels: documentation

Update docs/DEVELOPMENT.md
  docs/DEVELOPMENT.md
Labels: documentation

Update docs/DEPLOYMENT.md
  docs/DEPLOYMENT.md
Labels: documentation

.github/labeler.yml:

Testing:
- changed-files:
  - any-glob-to-any-file: 'src/tests/**/*'
  - any-glob-to-any-file: '**/*test*.py'
  - any-glob-to-any-file: '**/*spec*.js'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.github/*'

python:
- changed-files:
  - any-glob-to-any-file: 'src/python/*'
  - any-glob-to-any-file: '**/*.py'
  - any-glob-to-any-file: '**/requirements.txt'
  - any-glob-to-any-file: '**/setup.py'
  - any-glob-to-any-file: '**/pyproject.toml'

javascript:
- changed-files:
  - any-glob-to-any-file: 'src/*.js'
  - any-glob-to-any-file: '**/*.js'

html:
- changed-files:
  - any-glob-to-any-file: 'src/*.html'
  - any-glob-to-any-file: '**/*.html'
  - any-glob-to-any-file: '*.html'

css:
- changed-files:
  - any-glob-to-any-file: 'src/*.css'
  - any-glob-to-any-file: '**/*.css'

dependencies:
- changed-files:
  - any-glob-to-any-file: 'requirements.txt'
  - any-glob-to-any-file: 'package.json'
  - any-glob-to-any-file: 'package-lock.json'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: '*.md'
